@charset 'UTF-8';
/**
 * @license
 * MyFonts Webfont Build ID 3221166, 2016-05-18T23:46:05-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: MatrixIIOT-Book by Emigre
 * URL: http://www.myfonts.com/fonts/emigre/matrix-ii-ot/book/
 * Copyright: Copyright (C) 1987 Emigre Graphics. Copyright (C) 2007 Emigre Inc.;
 * Designed by Zuzana Licko. All rights reserved. Release Version 1
 * Licensed pageviews: 10,000
 *
 * Webfont: MatrixIIOT-ExtraBold by Emigre
 * URL: http://www.myfonts.com/fonts/emigre/matrix-ii-ot/extra-bold-88307/
 * Copyright: Copyright (C) 1987 Emigre Graphics. Copyright (C) 2007 Emigre Inc.;
 * Designed by Zuzana Licko. All rights reserved. Release Version 1
 * Licensed pageviews: 10,000
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3221166
 *
 * © 2016 MyFonts Inc
*/
@font-face{
	font-family: 'MatrixIIOT-Bold';
	font-style: normal;
	font-weight: normal;
	src: url('/shared/font/matrix_bold.eot');
	src: url('/shared/font/matrix_bold.eot?#iefix') format('embedded-opentype'), url('/shared/font/matrix_bold.woff2') format('woff2'), url('/shared/font/matrix_bold.woff') format('woff'), url('/shared/font/matrix_bold.ttf') format('truetype');
}

@font-face{
	font-family: 'MatrixIIOT-ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: url('/shared/font/matrix_exbold.eot');
	src: url('/shared/font/matrix_exbold.eot?#iefix') format('embedded-opentype'), url('/shared/font/matrix_exbold.woff2') format('woff2'), url('/shared/font/matrix_exbold.woff') format('woff'), url('/shared/font/matrix_exbold.ttf') format('truetype');
}