@charset 'UTF-8';
/**
 *
 *  サイト共通
 *
 */
/*--------------------------------------------------------------------------
	 reset
---------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
	line-height: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
	display: block;
}

ol,
ul{
	list-style: none;
}

blockquote,
q{
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
	content: '';
	content: none;
}

a{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

img{
	border: 0;
	vertical-align: top;
}

em{
	font-style: italic;
}

del{
	text-decoration: line-through;
}

abbr[title],
dfn[title]{
	border-bottom: 1px dotted;
	cursor: help;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 0;
}

input,
select,
textarea{
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

input:focus,
textarea:focus,
select:focus{
	outline: none;
}

/*--------------------------------------------------------------------------
	 *
---------------------------------------------------------------------------*/
*{
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------
	 head
---------------------------------------------------------------------------*/
head{
	font-family: pc;
}

@media screen and (max-width: 768px){
	head{
		font-family: sp;
	}
}

/*--------------------------------------------------------------------------
	 html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
	height: 100%;
}

/*--------------------------------------------------------------------------
	 body
---------------------------------------------------------------------------*/
body{
	min-width: 1100px;
	height: 100%;
	color: #333;
	font-family: '小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	font-size: 14px;
	line-height: 1.8;
	-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
					text-size-adjust: 100%;
}

/* state
-----------------------------------------------------------------*/
body.is-open{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

.ie body{
	font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

@media screen and (max-width: 768px){
	body{
		min-width: 320px;
		font-size: 12px;
	}
}

/*--------------------------------------------------------------------------
	 base link
---------------------------------------------------------------------------*/
a{
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

a:hover{
	outline: none;
}

a:active{
	outline: none;
}

/*--------------------------------------------------------------------------
	 Page
---------------------------------------------------------------------------*/
#Page{
	position: relative;
	min-height: 100%;
	padding-bottom: 226px;
	background-color: #f2f2f2;
}

@media screen and (max-width: 768px){
	#Page{
		padding-bottom: 166px;
	}
}

/*--------------------------------------------------------------------------
	 gHeader
---------------------------------------------------------------------------*/
.gHeader{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, .5);
	-webkit-transition: all .2s ease;
					transition: all .2s ease;
}

.gHeader-inner{
	position: relative;
	width: 1100px;
	height: 100%;
	margin: auto;
}

/* state
-----------------------------------------------------------------*/
.gHeader.is-open{
	background: rgba(0, 0, 0, .9);
}

/* animation
-----------------------------------------------------------------*/
.gHeader.is-scroll{
	height: 70px;
	background: rgba(0, 0, 0, .9);
}

@media screen and (max-width: 768px){
	.gHeader{
		height: 60px;
		background: rgba(0, 0, 0, .5);
	}
	.gHeader-inner{
		width: auto;
		height: 100%;
		padding: 0;
	}
}

/*--------------------------------------------------------------------------
	 gHeaderLogo
---------------------------------------------------------------------------*/
.gHeaderLogo{
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	-webkit-transition: -webkit-transform .2s ease;
					transition:         transform .2s ease;
}

.gHeaderLogo a{
	display: block;
}

/* animation
-----------------------------------------------------------------*/
.gHeader.is-scroll .gHeaderLogo{
	-webkit-transform: scale(.8);
					transform: scale(.8);
}

@media screen and (max-width: 768px){
	.gHeaderLogo{
		margin-top: -15px;
		padding-left: 15px;
	}
	.gHeaderLogo img{
		width: 77px;
		height: 30px;
	}
}

/*--------------------------------------------------------------------------
	 gMenuBtn
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.gMenuBtn{
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		line-height: 1;
	}
	.gMenuBtn a{
		display: block;
		position: relative;
		padding-bottom: 17px;
	}
	.gMenuBtn a:after{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 27px;
		height: 11px;
		margin-left: -14px;
		background: url(../images/header_btn_menu.png) no-repeat 0 0;
		background-size: 27px 22px;
		-webkit-transition: background-position .3s ease;
						transition: background-position .3s ease;
	}
	.gMenuBtn-lines,
	.gMenuBtn-lines span{
		display: inline-block;
		-webkit-transition: all .3s ease-out;
						transition: all .3s ease-out;
	}
	.gMenuBtn-lines{
		position: relative;
		width: 23px;
		height: 13px;
	}
	.gMenuBtn-lines span{
		position: absolute;
		left: 0;
		width: 100%;
		height: 1px;
		background: #fff;
	}
	.gMenuBtn-lines span:nth-of-type(1){
		top: 0;
	}
	.gMenuBtn-lines span:nth-of-type(2){
		top: 6px;
	}
	.gMenuBtn-lines span:nth-of-type(3){
		bottom: 0;
	}
	/* state
	-----------------------------------------------------------------*/
	.gHeader.is-open .gMenuBtn > a:after{
		background-position: 0 -11px;
	}
	.gHeader.is-open .gMenuBtn-lines span:nth-of-type(1){
		-webkit-transform: translateY(6px) rotate(45deg);
						transform: translateY(6px) rotate(45deg);
	}
	.gHeader.is-open .gMenuBtn-lines span:nth-of-type(2){
		opacity: 0;
	}
	.gHeader.is-open .gMenuBtn-lines span:nth-of-type(3){
		-webkit-transform: translateY(-6px) rotate(-45deg);
						transform: translateY(-6px) rotate(-45deg);
	}
}

/*--------------------------------------------------------------------------
	 gNav
---------------------------------------------------------------------------*/
.gNav{
	float: right;
	height: 100px;
	-webkit-transition: height .2s ease;
					transition: height .2s ease;
}

.gNav-list{
	float: left;
	min-width: 100px;
	height: 100%;
}

.gNav-list + .gNav-list{
	margin-left: 20px;
}

.gNav-list > a{
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
}

.gNav-listInner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.gNav-listTxt,
.gNav-listTxtEn{
	display: block;
	line-height: 1;
}

.gNav-listTxt{
	position: relative;
	opacity: 0;
	margin-bottom: -10px;
	font-size: 10px;
	letter-spacing: .2em;
	-webkit-transition: all .3s ease;
					transition: all .3s ease;
}

.gNav-listTxtEn{
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	font-size: 15px;
	letter-spacing: .2em;
}

.ie .gNav-listTxtEn{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

/* animation
-----------------------------------------------------------------*/
.gHeader.is-scroll .gNav{
	height: 70px;
}

/* modifier
-----------------------------------------------------------------*/
.modePC .gNav-list.is-hover .gNav-listTxt{
	opacity: 1;
	margin-bottom: 10px;
}

/* hover
-----------------------------------------------------------------*/
.modePC .gNav-list a:hover .gNav-listTxt{
	opacity: 1;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px){
	.gNav{
		display: none;
		position: fixed;
		top: 60px;
		z-index: 2000;
		float: none;
		width: 100%;
		height: auto;
		border-top: 1px solid #3c3936;
	}
	.gNav-list{
		float: none;
		min-width: 0;
		height: auto;
		border-bottom: 1px solid #3f3b37;
	}
	.gNav-list + .gNav-list{
		margin-left: 0;
	}
	.gNav-list > a{
		height: auto;
	}
	.gNav-listInner{
		position: relative;
	}
	.gNav-listTxt{
		display: none;
	}
	.gNav-listTxtEn{
		color: #bda671;
		font-size: 12px;
		line-height: 70px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.gNav-shop .gNav-listInner:before{
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		width: 13px;
		height: 7px;
		margin-top: -3px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-image: url(/shared/images/ico_arrow_accordion_sp.png);
		background-size: 13px 14px;
	}
	/* state
	-----------------------------------------------------------------*/
	.gHeader.is-open .gNav{
		overflow-y: auto;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .9);
	}
	.gNav-shop.is-open .gNav-listInner:before{
		background-position: 0 -7px;
	}
}

/*--------------------------------------------------------------------------
	 gShopNav
---------------------------------------------------------------------------*/
.gShopNav{
	position: fixed;
	top: 100px;
	left: 0;
	opacity: 0;
	overflow: hidden;
	width: 100%;
	height: 0;
	background: rgba(0, 0, 0, .75);
	-webkit-transition: all .3s ease;
					transition: all .3s ease;
}

.gShopNav-inner{
	width: 1100px;
	height: 100%;
	margin: auto;
	overflow: hidden;
	text-align: center;
}

.gShopNav-lists{
	height: 100%;
	border-left: 1px solid #635b55;
	border-right: 1px solid #635b55;
}

@media screen and (min-width: 769px) {
	.gShopNav-lists {
		display: inline-block;
	}
}

.gShopNav-list{
	position: relative;
	float: left;
	height: 100%;
}

.gShopNav-list a{
	display: table;
	width: 100%;
	height: 100%;
	padding-bottom: 17px;
	color: #fff;
	font-size: 13px;
}

.gShopNav-listInner{
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
	line-height: 1;
}

.gShopNav-list span{
	display: inline-block;
	background-position: 50% 0;
	background-repeat: no-repeat;
	line-height: 1;
	opacity: 0;
	-webkit-transform: translateY(-50px) scale(.9);
					transform: translateY(-50px) scale(.9);
	-webkit-transition: -webkit-transform .3s ease;
					transition:         transform .3s ease;
}

/* animation
-----------------------------------------------------------------*/
.gHeader.is-scroll .gShopNav{
	top: 70px;
}

/* modifier
-----------------------------------------------------------------*/
.gShopNav-shop{
	width: 183px;
}

.gShopNav-shop + .gShopNav-shop:before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 68px;
	margin-top: -34px;
	border-left: 1px dashed #675a53;
}

.gShopNav-shopList{
	width: 183px;
	border-left: 1px solid #635b55;
	display: none;
}

.gShopNav-jill span{
	padding-top: 80px;
	background-image: url(/shared/images/gnav_logo_jill.svg);
}

.gShopNav-nijill span{
	padding-top: 75px;
	background-image: url(/shared/images/gnav_logo_nijill.svg);
}

.gShopNav-jb span{
	padding-top: 68px;
	background-image: url(/shared/images/gnav_logo_jb.svg);
	width: 100%;
}

.gShopNav-shinatora span{
	padding-top: 75px;
	background-image: url(/shared/images/gnav_logo_shinatora.svg);
}

.gShopNav-gonzo span{
	padding-top: 72px;
	background-image: url(/shared/images/gnav_logo_gonzo.svg);
	background-size: 110px 58px;
}

.gShopNav-rikuu span{
	padding-top: 72px;
	background-image: url(/shared/images/gnav_logo_rikuu.svg);
	background-size: 60px 65px;
}

.gShopNav-shopList span{
	padding-top: 56px;
	background-image: url(/shared/images/gnav_logo_shoplist.png);
}

/* hover
-----------------------------------------------------------------*/
.modePC .gShopNav-jill a:hover span{
	background-image: url(/shared/images/gnav_logo_jill_on.svg);
}

.modePC .gShopNav-nijill a:hover span{
	background-image: url(/shared/images/gnav_logo_nijill_on.svg);
}

.modePC .gShopNav-jb a:hover span{
	background-image: url(/shared/images/gnav_logo_jb_on.svg);
}

.modePC .gShopNav-shinatora a:hover span{
	background-image: url(/shared/images/gnav_logo_shinatora_on.svg);
}

.modePC .gShopNav-gonzo a:hover span{
	background-image: url(/shared/images/gnav_logo_gonzo_on.svg);
}

.modePC .gShopNav-rikuu a:hover span{
	background-image: url(/shared/images/gnav_logo_rikuu_on.svg);
}

.modePC .gShopNav-shopList a:hover span{
	background-image: url(/shared/images/gnav_logo_shoplist_on.png);
}

.modePC .gNav-shop:hover .gShopNav{
	opacity: 1;
	height: 122px;
}

.modePC .gNav-shop:hover .gShopNav-list span{
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
					transform: translateY(0) scale(1);
}

@media screen and (max-width: 768px){
	.gShopNav{
		display: none;
		position: static;
		top: auto;
		opacity: 1;
		overflow: hidden;
		width: auto;
		height: auto;
		background: rgba(255, 255, 255, .05);
		-webkit-transition-property: none;
						transition-property: none;
	}
	.gShopNav-inner{
		width: auto;
		height: auto;
	}
	.gShopNav-lists{
		height: auto;
		opacity: 1;
		border: none;
	}
	.gShopNav-list{
		position: relative;
		float: none;
		height: auto;
		border-top: 1px solid #3f3b37;
	}
	.gShopNav-list a{
		height: auto;
		padding-bottom: 0;
		font-size: 12px;
	}
	.gShopNav-listInner{
		vertical-align: middle;
		line-height: 70px;
	}
	.gShopNav-list span{
		background: none;
		opacity: 1;
		-webkit-transform: translateY(0) scale(1);
						transform: translateY(0) scale(1);
	}
	/* modifier
	-----------------------------------------------------------------*/
	.gShopNav-shop{
		width: auto;
	}
	.gShopNav-shop + .gShopNav-shop:before{
		display: none;
	}
	.gShopNav-shopList{
		width: auto;
		border-left: none;
		display: block;
	}
	.gShopNav-jill span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-nijill span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-jb span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-shinatora span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-gonzo span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-rikuu span{
		padding-top: 0;
		background: none;
	}
	.gShopNav-shopList span{
		padding-top: 0;
		background: none;
	}
}

/*--------------------------------------------------------------------------
	 gFooter
---------------------------------------------------------------------------*/
.gFooter{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #211f1d;
}

.gFooter-inner{
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.gFooter-inner{
		width: auto;
	}
}

/*--------------------------------------------------------------------------
	 gFooterLogo
---------------------------------------------------------------------------*/
.gFooterLogo{
	height: 140px;
	line-height: 140px;
	text-align: center;
}

.gFooterLogo img{
	vertical-align: middle;
	width: auto;
	height: 60px;
}

@media screen and (max-width: 768px){
	.gFooterLogo{
		height: 105px;
		line-height: 105px;
	}
	.gFooterLogo img{
		height: 43px;
	}
}

/*--------------------------------------------------------------------------
	 gFooterNav
---------------------------------------------------------------------------*/
.gFooterNav{
	height: 30px;
	text-align: center;
	line-height: 1;
}

.gFooterNav-lists{
	display: inline-block;
}

.gFooterNav-lists li{
	float: left;
}

.gFooterNav-lists li + li{
	margin-left: 50px;
}

.gFooterNav-lists a{
	display: block;
	position: relative;
	color: #fff;
	font-size: 12px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	text-decoration: none;
	letter-spacing: .2em;
	line-height: 1;
}

.gFooterNav-lists a:after{
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 50%;
	width: 0;
	height: 1px;
	margin-left: -10%;
	background: #fff;
	-webkit-transition: all .2s ease;
					transition: all .2s ease;
}

.ie .gFooterNav-lists a{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

/* hover
-----------------------------------------------------------------*/
.modePC .gFooterNav-lists a:hover:after{
	width: 120%;
	left: 0;
}

@media screen and (max-width: 768px){
	.gFooterNav{
		height: 25px;
	}
	.gFooterNav-lists li + li{
		margin-left: 30px;
	}
	.gFooterNav-lists a{
		font-size: 9px;
	}
}

/*--------------------------------------------------------------------------
	 gFooterCopyright
---------------------------------------------------------------------------*/
.gFooterCopyright{
	height: 56px;
	border-top: 1px solid #383634;
	text-align: center;
	line-height: 55px;
}

.gFooterCopyright img{
	vertical-align: middle;
}

@media screen and (max-width: 768px){
	.gFooterCopyright{
		height: 36px;
		line-height: 35px;
	}
}