@charset 'UTF-8';
/**
 *
 *  エントリー共通
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	m-frame
---------------------------------------------------------------------------*/
.m-frame-body{
	padding: 70px 50px 60px;
}

@media screen and (max-width: 768px){
	.m-frame-body{
		padding: 40px 20px;
	}
}