@charset 'UTF-8';
/**
 *
 *  確認ページ
 *
 */
/*--------------------------------------------------------------------------
	 recruitSubmit
---------------------------------------------------------------------------*/
.recruitSubmit{
	margin-top: 60px;
}

@media screen and (max-width: 768px){
	.recruitSubmit{
		margin-top: 30px;
	}
}