@charset 'UTF-8';
/**
 *
 *  インデックスページ
 *
 */
/*--------------------------------------------------------------------------
	 entry
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	 contactFormList
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.recruitFormList-gender .c-radio + .c-radio{
	margin-left: 40px;
}

.recruitFormList-age .m-formList-cont span{
	margin: 10px;
}

/* 住所 */
.recruitFormList-address .mark{
	padding: 0 10px;
	font-size: 15px;
}

.recruitFormList-address .hyphen{
	padding: 0 10px;
	font-size: 15px;
}

.recruitFormList-address .c-input-zip{
	width: 100px;
}

.recruitFormList-address .zipBtn{
	display: inline-block;
}

.recruitFormList-address .zipBtn a{
	margin-left: 15px;
	color: #333;
}

.recruitFormList-row + .recruitFormList-row{
	margin-top: 20px;
}

.recruitFormList-name .c-input,
.recruitFormList-tel .c-input,
.recruitFormList-shop .c-select,
.recruitFormList-job .c-select,
.recruitFormList-jobType .c-select,
.recruitFormList-startday .c-input{
	width: 330px;
}

.recruitFormList-age .c-input{
	width: 100px;
}

@media screen and (max-width: 768px){
	.recruitFormList-gender .c-radio + .c-radio{
		margin-left: 25px;
	}
	/* 住所 */
	.recruitFormList-address .mark{
		padding: 0 5px;
		font-size: 11px;
	}
	.recruitFormList-address .hyphen{
		padding: 0 5px;
		font-size: 11px;
	}
	.recruitFormList-address .zipBtn{
		display: block;
		margin-top: 20px;
	}
	.recruitFormList-address .zipBtn a{
		margin: 0;
	}
	.recruitFormList-row + .recruitFormList-row{
		margin-top: 20px;
	}
	.recruitFormList-name .c-input,
	.recruitFormList-tel .c-input,
	.recruitFormList-shop .c-select,
	.recruitFormList-job .c-select,
	.recruitFormList-jobType .c-select,
	.recruitFormList-startday .c-input{
		width: 100%;
	}
}