@charset 'UTF-8';
/**
 *
 *  確認ページ
 *
 */
/*--------------------------------------------------------------------------
	 thanksMsg
---------------------------------------------------------------------------*/
.thanksMsg{
	text-align: center;
}

.thanksMsg-ttl{
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
}

@media screen and (max-width: 768px){
	.thanksMsg-ttl{
		margin-bottom: 20px;
		font-size: 17px;
	}
	.thanksMsg-txt{
		font-size: 12px;
	}
}