@charset 'UTF-8';
/**
 *
 *  ショップ共通
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeadder
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.m-pageHeader{
		height: 320px;
	}
}

/*--------------------------------------------------------------------------
	concept
---------------------------------------------------------------------------*/
.concept{
	padding: 100px 0;
	background: #2c2c2c;
	text-align: center;
}

.concept-ttl{
	margin-bottom: 35px;
}

.concept-txt{
	font-size: 20px;
	font-weight: bold;
	color: #b0b0b0;
	letter-spacing: .16em;
	line-height: 1.9;
}

@media screen and (max-width: 768px){
	.concept{
		padding: 40px 10px;
	}
	.concept-ttl{
		margin-bottom: 20px;
	}
	.concept-txt{
		font-size: 12px;
		line-height: 2.5;
	}
}

/*--------------------------------------------------------------------------
	slider
---------------------------------------------------------------------------*/
.slider{
	overflow: hidden;
	opacity: 0;
}

.slider-lists{
	width: 10000px;
	overflow: hidden;
}

.slider-list{
	float: left;
}

.slider-list img{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px){
	.slider{
		overflow: hidden;
	}
	.slider-lists{
		width: 300%;
		overflow: hidden;
	}
	.slider-list{
		float: left;
		width: 50%;
	}
}

/*--------------------------------------------------------------------------
	menu
---------------------------------------------------------------------------*/
.menu{
	overflow: hidden;
	padding: 100px 0 275px;
	background: #fff url(/shared/images/bg_repeat_dots01.png);
}

.menu-inner{
	width: 88%;
	max-width: 1920px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.menu{
		padding: 50px 0 40px;
		background-size: 100px 100px;
	}
	.menu-inner{
		width: auto;
		max-width: auto;
	}
}

/*--------------------------------------------------------------------------
	pickup
---------------------------------------------------------------------------*/
.pickup{
	position: relative;
}

.pickup + .pickup{
	margin-top: 200px;
}

.pickup-fig,
.pickup-map{
	position: relative;
}
.pickup-map{
	width: 1295px;
	height: 660px;
}

.pickup-menu{
	position: absolute;
	top: 225px;
	z-index: 1;
	width: 585px;
	padding: 60px 40px 40px;
	background: #fff;
	box-shadow: 0 0 40px 10px rgba(14, 4, 9, .15);
}

.pickup-ttl{
	margin-bottom: 45px;
	text-align: center;
}

.pickup-ttl-info{
	margin-bottom: 20px;
}

.pickup-lead{
	margin-bottom: 35px;
	text-align: center;
}

.pickup-lead span{
	padding-bottom: 10px;
}

.pickup-list + .pickup-list{
	margin-top: 30px;
}

.pickup-listTtl{
	width: 100%;
	display: table;
	margin-bottom: 5px;
	line-height: 1;
}

.pickup-listTtl .ttl{
	display: table-cell;
	width: 50px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;
}

.pickup-listTtl .line{
	display: table-cell;
	width: 100%;
	background: url(../images/common/bg_menu_list_repeat.png) repeat-x 50% 50%;
}

.pickup-listTtl .ttl span{
	display: inline-block;
	padding-right: 15px;
	background: #fff;
	line-height: 1.4;
}

.pickup-listTtl .price{
	display: table-cell;
	min-width: 80px;
	padding-left: 10px;
	background: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}

.pickup-listTtl .txt{
	display: table-cell;
	min-width: 367px;
	padding-left: 10px;
	background: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	white-space: nowrap;
}

.pickup-listTxt{
	color: #3e3e3e;
	font-size: 12px;
}

.pickup-btn{
	padding-top: 45px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	text-align: center;
	line-height: 1;
}

.pickup-btn .c-btn{
	width: 200px;
	height: 65px;
	line-height: 63px;
	font-size: 12px;
	letter-spacing: .2em;
}

/* modifier
-----------------------------------------------------------------*/
.pickup-food .pickup-fig{
	left: 0;
	text-align: left;
}

.pickup-food .pickup-menu{
	right: 0;
}

.pickup-drink .pickup-fig{
	right: 0;
	text-align: right;
}

.pickup-drink .pickup-menu{
	left: 0;
}

.pickup-info .pickup-fig{
	left: 0;
	text-align: left;
}

.pickup-info .pickup-menu{
	right: 0;
}

.pickup-food .pickup-btn{
	background-image: url(../images/common/bg_food.png);
}

.pickup-drink .pickup-btn{
	background-image: url(../images/common/bg_drink.png);
}

@media screen and (max-width: 768px){
	.pickup + .pickup{
		margin-top: 40px;
	}
	.pickup-fig img{
		width: 100%;
		height: auto;
	}
	.pickup-map{
		width: auto;
		height: 0;
		padding-top: 47%;
	}
	.pickup-menu{
		position: relative;
		top: 0;
		width: auto;
		margin: -25px 10px 0;
		padding: 40px 25px;
		box-shadow: 0 5px 20px 0px rgba(14, 4, 9, .15);
	}
	.pickup-ttl{
		margin-bottom: 25px;
	}
	.pickup-ttl-info{
		margin-bottom: 10px;
	}
	.pickup-lead{
		margin-bottom: 20px;
	}
	.pickup-lead span{
		padding-bottom: 5px;
	}
	.pickup-list + .pickup-list{
		margin-top: 15px;
	}
	.pickup-listTtl .ttl{
		font-size: 13px;
	}
	.pickup-listTtl .ttl span{
		padding-right: 7px;
	}
	.pickup-listTtl .line{
		background-image: url(../images/common/bg_menu_list_repeat_sp.png);
		background-size: auto 1px;
	}
	.pickup-listTtl .price{
		min-width: 60px;
		padding-left: 10px;
		font-size: 13px;
	}
	.pickup-listTtl .txt{
		min-width: 168px;
		padding-left: 10px;
		font-size: 13px;
	}
	.pickup-listTxt{
		font-size: 11px;
	}
	.pickup-btn{
		padding-top: 30px;
		background-position: 100% 10px;
	}
	.pickup-btn .c-btn{
		width: 190px;
		height: 48px;
		line-height: 46px;
		font-size: 10px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.pickup-food .pickup-fig,
	.pickup-info .pickup-fig{
		right: auto;
	}
	.pickup-food .pickup-menu,
	.pickup-info .pickup-menu{
		left: auto;
	}
	.pickup-drink .pickup-fig{
		left: auto;
	}
	.pickup-drink .pickup-menu{
		right: auto;
	}
	.pickup-food .pickup-btn{
		background-image: url(../images/common/bg_food_sp.png);
		background-size: 148px auto;
	}
	.pickup-drink .pickup-btn{
		background-image: url(../images/common/bg_drink_sp.png);
		background-size: 146px auto;
	}
}


/*--------------------------------------------------------------------------
	 map
---------------------------------------------------------------------------*/
.map{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px){
	.map{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
