@charset 'UTF-8';
/**
 *
 *  ショップ シナトラ
 *
 */
/*--------------------------------------------------------------------------
	 m-pageHeadder
 ---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/gonzo/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/gonzo/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	.m-footLink-shoplist
---------------------------------------------------------------------------*/
.m-footLink-shoplist{
	background-image: url(../images/gonzo/bg_shoplist.jpg);
}

@media screen and (max-width: 768px){
	.m-footLink-shoplist{
		background-image: url(../images/gonzo/bg_shoplist_sp.jpg);
	}
}