@charset 'UTF-8';
/**
 *
 *  ショップ 煮ジル
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeadder
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/nijill/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/nijill/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	.m-footLink-shoplist
---------------------------------------------------------------------------*/
.m-footLink-shoplist{
	background-image: url(../images/nijill/bg_shoplist.jpg);
}

@media screen and (max-width: 768px){
	.m-footLink-shoplist{
		background-image: url(../images/nijill/bg_shoplist_sp.jpg);
	}
}