@charset 'UTF-8';
/**
 *
 *  リクルート
 *
 */
/*--------------------------------------------------------------------------
	#Content
---------------------------------------------------------------------------*/
#Content{
	overflow: hidden;
}

/*--------------------------------------------------------------------------
 mv
---------------------------------------------------------------------------*/
.mv{
	position: relative;
	overflow: hidden;
}

.mv-ttl{
	display: inline-block;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.mv-lists{
	position: relative;
	height: 100%;
}

.mv-list{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.mv-scroll{
	position: absolute;
	bottom: 105px;
	z-index: 2;
	left: 50%;
	margin-left: -42px;
}

.mv-scroll a{
	display: block;
}

/* modifier
-----------------------------------------------------------------*/
.mv-list01{
	opacity: 1;
	background-image: url(../images/img_kv01.jpg);
}

.mv-list02{
	background-image: url(../images/img_kv02.jpg);
}

.mv-list03{
	background-image: url(../images/img_kv03.jpg);
}

@media screen and (max-width: 768px){
	.mv{
		height: 429px;
	}
	.mv-scroll{
		bottom: 50px;
		margin-left: -21px;
	}
	.mv-scroll img{
		width: 42px;
		height: auto;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.mv-list01{
		background-image: url(../images/img_kv01_sp.jpg);
	}
	.mv-list02{
		background-image: url(../images/img_kv02_sp.jpg);
	}
	.mv-list03{
		background-image: url(../images/img_kv03_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	challenge
---------------------------------------------------------------------------*/
.challenge{
	height: 236px;
	background: url(/shared/images/bg_repeat_dots03.png);
}

.challenge-inner{
	position: relative;
}

.challenge-ttl{
	position: absolute;
	top: -80px;
	left: 0;
	z-index: 2;
	width: 500px;
	background: url(/shared/images/bg_repeat_dots06.png);
	box-shadow: 0 0 60px rgba(15, 15, 15, .6);
}

.challenge-ttlInner{
	padding: 70px 70px 130px;
	background: url(../images/bg_challenge.png) no-repeat 100% 100%;
}

.challenge-ttlTxt .ttl01{
	display: block;
	color: #fff;
	font-size: 24px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	letter-spacing: .15em;
}

.challenge-ttlTxt .ttl02{
	display: block;
	margin-top: 10px;
	color: #fff;
	font-size: 83px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	line-height: 1;
}

.ie .challenge-ttlTxt .ttl01{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.challenge-cont{
	position: absolute;
	z-index: 1;
	top: -40px;
	right: -60px;
	width: 680px;
	padding: 60px 60px 70px 80px;
	background: url(/shared/images/bg_repeat_dots01.png);
	box-shadow: 0 0 60px rgba(15, 15, 15, .6);
}

.challenge-contTtl{
	margin-bottom: 30px;
	color: #9e2416;
	font-size: 18px;
	font-weight: bold;
}

.challenge-contTxt + .challenge-contTxt{
	margin-top: 30px;
}

@media screen and (max-width: 768px){
	.challenge{
		height: auto;
		padding-top: 93px;
		background-size: 100px 100px;
	}
	.challenge-ttl{
		top: -123px;
		left: 0;
		width: 280px;
		background-size: 100px 100px;
		box-shadow: 0 0 30px rgba(15, 15, 15, .6);
		-webkit-transform: translate3d(0, 0, 1px);
		        transform: translate3d(0, 0, 1px);
		/* Androidブラウザ対策 */
	}
	.challenge-ttlInner{
		padding: 30px 25px 40px;
		background-image: url(../images/bg_challenge_sp.png);
		background-size: 253px 134px;
	}
	.challenge-ttlTxt .ttl01{
		font-size: 14px;
	}
	.challenge-ttlTxt .ttl02{
		margin-top: 5px;
		font-size: 43px;
	}
	.challenge-cont{
		position: relative;
		top: auto;
		right: auto;
		width: auto;
		margin: 0 10px;
		padding: 60px 30px 40px;
		background-size: 100px 100px;
		box-shadow: 0 0 30px rgba(15, 15, 15, .6);
		-webkit-transform: translate3d(0, 0, 1px);
		        transform: translate3d(0, 0, 1px);
		/* Androidブラウザ対策 */
	}
	.challenge-contTtl{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.challenge-contTxt + .challenge-contTxt{
		margin-top: 15px;
	}
}

/*--------------------------------------------------------------------------
	people
---------------------------------------------------------------------------*/
.people{
	overflow: hidden;
}

.people-lists{
	width: 10000px;
	overflow: hidden;
}

.people-list{
	float: left;
}

.people-list img{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px){
	.people{
		margin-top: -40px;
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
		/* Androidブラウザ対策 */
	}
}

/*--------------------------------------------------------------------------
	messageAndTalk
---------------------------------------------------------------------------*/
.messageAndTalk{
	background: url(/shared/images/bg_repeat_dots02.png);
}

@media screen and (max-width: 768px){
	.messageAndTalk{
		background-size: 100px 100px;
	}
}

/*--------------------------------------------------------------------------
	message
---------------------------------------------------------------------------*/
.message{
	background: url(../images/bg_message02.png) no-repeat 50% 0;
}

.message-inner{
	position: relative;
	height: 745px;
}

.message-ttl{
	position: absolute;
	top: -200px;
	right: 0;
	z-index: 2;
	width: 500px;
	background: url(/shared/images/bg_repeat_dots06.png);
	box-shadow: 0 0 60px rgba(15, 15, 15, .6);
}

.message-ttlInner{
	padding: 50px 80px;
	background: url(../images/bg_message.png) no-repeat 100% 100%;
}

.message-ttlTxt{
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 10px;
	color: #fff;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	font-size: 20px;
	letter-spacing: .25em;
}

.message-ttlTxt:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
}

.ie .message-ttlTxt{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.message-copy{
	margin-bottom: 20px;
	color: #fff;
	font-size: 38px;
	font-weight: bold;
	line-height: 1.7em;
}

.message-ceo{
	color: #fff;
	font-size: 14px;
}

.message-cont{
	position: absolute;
	z-index: 1;
	top: -120px;
	left: -60px;
	width: 680px;
	padding: 60px 80px 70px 60px;
	background: url(/shared/images/bg_repeat_dots01.png);
	box-shadow: 0 0 60px rgba(15, 15, 15, .6);
}

.message-contTtl{
	margin-bottom: 30px;
	color: #9e2416;
	font-size: 18px;
	font-weight: bold;
}

.message-contTxt + .message-contTxt{
	margin-top: 30px;
}

@media screen and (max-width: 768px){
	.message{
		padding: 103px 0 140px;
		background-position: 50% 100%;
		background-image: url(../images/bg_message02_sp.png);
		background-size: 468px 292px;
	}
	.message-inner{
		position: relative;
		height: auto;
	}
	.message-ttl{
		top: -133px;
		right: 0;
		width: 280px;
		background: url(/shared/images/bg_repeat_dots06.png);
		background-size: 100px 100px;
		box-shadow: 0 0 30px rgba(15, 15, 15, .6);
		-webkit-transform: translate3d(0, 0, 1px);
		        transform: translate3d(0, 0, 1px);
		/* Androidブラウザ対策 */
	}
	.message-ttlInner{
		padding: 20px 30px 25px;
		background-image: url(../images/bg_message_sp.png);
		background-size: 153px 123px;
	}
	.message-ttlTxt{
		margin-bottom: 10px;
		padding-bottom: 5px;
		font-size: 10px;
	}
	.message-copy{
		margin-bottom: 5px;
		font-size: 18px;
	}
	.message-ceo{
		font-size: 11px;
	}
	.message-cont{
		position: relative;
		top: auto;
		left: auto;
		width: auto;
		margin: 0 10px;
		padding: 60px 30px 40px;
		background-size: 100px 100px;
		box-shadow: 0 0 30px rgba(15, 15, 15, .6);
		-webkit-transform: translate3d(0, 0, 1px);
		        transform: translate3d(0, 0, 1px);
		/* Androidブラウザ対策 */
	}
	.message-contTtl{
		margin-bottom: 15px;
		font-size: 14px;
	}
	.message-contTxt + .message-contTxt{
		margin-top: 15px;
	}
}

/*--------------------------------------------------------------------------
	talk
---------------------------------------------------------------------------*/
.talk-ttl{
	margin-bottom: 20px;
	color: #9e2416;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	font-size: 50px;
	text-align: center;
	letter-spacing: .1em;
	line-height: 1;
}

.ie .talk-ttl{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.talk-copy{
	margin-bottom: 50px;
	text-align: center;
}

.talk-inner {
	padding: 0 54px;
}

.talk-slider {
	position: relative;
	margin: -1px;
}

.talk-slider .item {
	margin: 1px;
}

.talk-slider .item a {
	display: block;
	position: relative;
	height: 0;
	padding-top: 53%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.talk-slider .item a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0;
	-webkit-transition: opacity .4s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: opacity .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modePC .talk-slider .item a:hover:before {
	opacity: .4;
}

.talk-slider .item-detail {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.talk-slider .item-num{
	margin-bottom: 25px;
	text-align: center;
}

.talk-slider .item-num img {
	display: inline;
}

.talk-slider .item-txt{
	text-align: center;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.talk-slider-nav {
	position: absolute;
	top: 1px;
	width: 54px;
	height: calc(100% - 2px);
	background: #9d2416;
	cursor: pointer;
	-webkit-transition: background .4s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modePC .talk-slider-nav:hover {
	background: #000;
}

.talk-slider-nav_prev {
	left: -55px;
}

.talk-slider-nav_next {
	right: -55px;
}

.talk-slider-nav:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 14px;
	height: 24px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.talk-slider-nav_prev:before {
	background-image: url(../images/ico_talk_prev.png);
}

.talk-slider-nav_next:before {
	background-image: url(../images/ico_talk_next.png);
}

.talk-slider-btns {
	position: absolute;
	right: 0;
	bottom: -32px;
	left: 0;
	width: 100%;
	margin: -8px;
	text-align: center;
	letter-spacing: -.4em;
	line-height: 0;
}

.talk-slider-btns li {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 8px;
	border-radius: 50%;
	background: #d2d2d2;
	letter-spacing: 0;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: background .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: background .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.talk-slider-btns li.slick-active {
	background: #9b2316;
}

.talk-slider-btns button {
	visibility: hidden;
}

@media screen and (max-width: 768px){
	.talk{
		margin-top: 30px;
		padding: 0 10px;
	}
	.talk-ttl{
		margin-bottom: 20px;
		font-size: 24px;
	}
	.talk-copy{
		margin-bottom: 25px;
	}
	.talk-inner {
		margin: 0 -10px;
		padding: 0;
	}
	.talk-slider .item a:before {
		display: none;
	}
	.talk-slider .item-num{
		margin-bottom: 10px;
	}
	.talk-slider .item-num img {
		width: auto;
		height: 22px;
	}
	.talk-slider .item-txt{
		font-size: 11px;
	}
	.talk-slider-nav {
		z-index: 1;
		width: 20px;
		opacity: .85;
	}
	.talk-slider-nav_prev {
		left: 0;
	}
	.talk-slider-nav_next {
		right: 0;
	}
	.talk-slider-nav:before {
		width: 7px;
		height: 12px;
	}
	.talk-slider-btns {
		bottom: -18px;
		margin: -4px;
	}
	.talk-slider-btns li {
		width: 6px;
		height: 6px;
		margin: 4px;
	}
}

/*--------------------------------------------------------------------------
	information   culture, moreinfo共通スタイル
---------------------------------------------------------------------------*/
.information{
	margin-top: -30px;
	padding: 130px 0 120px;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.information-sec{
	-webkit-transition: background .3s ease-out;
	        transition: background .3s ease-out;
}

.information-sec:first-child{
	border-top: 1px solid #ddd;
}

.information-ttlArea{
	position: relative;
	border-bottom: 1px solid #ddd;
}

.information-ttlArea a{
	display: block;
	padding: 40px 60px;
	color: #000;
}

.information-ttl .en,
.information-ttl .ja{
	display: inline-block;
	line-height: 58px;
	vertical-align: middle;
}

.information-ttl .en{
	font-size: 50px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	letter-spacing: .1em;
}

.information-ttl .ja{
	margin-left: 30px;
	font-size: 16px;
}

.ie .information-ttl .en{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.information-accordionBtn{
	display: block;
	position: absolute;
	top: 50%;
	right: 60px;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	border-radius: 30px;
	background: #000;
	-webkit-transition: -webkit-transform .2s ease-out;
	        transition: -webkit-transform .2s ease-out;
	        transition: transform .2s ease-out;
	        transition:         transform .2s ease-out, -webkit-transform .2s ease-out;
}

.information-accordionBtn .cross01,
.information-accordionBtn .cross02{
	display: inline-block;
	position: absolute;
	background: #fff;
	-webkit-transition: -webkit-transform .2s ease-out;
	        transition: -webkit-transform .2s ease-out;
	        transition: transform .2s ease-out;
	        transition:         transform .2s ease-out, -webkit-transform .2s ease-out;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.information-accordionBtn .cross01{
	top: 50%;
	left: 50%;
	width: 24px;
	height: 2px;
}

.information-accordionBtn .cross02{
	top: 50%;
	left: 50%;
	width: 2px;
	height: 24px;
}

.information-cont{
	display: none;
	padding: 60px;
	border-bottom: 1px solid #ddd;
}

.information-entry{
	margin-top: 90px;
}

.information-entry .c-btn{
	width: 100%;
	height: 152px;
	font-size: 26px;
	line-height: 152px;
}

/* hover
-----------------------------------------------------------------*/
.modePC .information-ttlArea:hover .information-accordionBtn{
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

/* modifier
-----------------------------------------------------------------*/
.information-sec.is-open{
	background: #f2f2f2;
}

.information-sec.is-open .information-accordionBtn .cross01,
.information-sec.is-open .information-accordionBtn .cross02{
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 768px){
	.information{
		margin-top: -35px;
		padding: 75px 10px 60px;
		background-size: 100px 100px;
	}
	.information-ttlArea{
		position: relative;
	}
	.information-ttlArea a{
		padding: 30px 10px;
	}
	.information-ttl .en,
	.information-ttl .ja{
		line-height: 24px;
	}
	.information-ttl .en{
		font-size: 24px;
	}
	.information-ttl .ja{
		margin-left: 10px;
		font-size: 11px;
	}
	.information-accordionBtn{
		right: 10px;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		border-radius: 15px;
	}
	.information-accordionBtn .cross01{
		width: 12px;
		height: 1px;
	}
	.information-accordionBtn .cross02{
		width: 1px;
		height: 12px;
	}
	.information-cont{
		padding: 30px;
	}
	.information-entry{
		margin-top: 40px;
		padding: 0 10px;
	}
	.information-entry .c-btn{
		height: 76px;
		font-size: 20px;
		line-height: 76px;
	}
}

/*--------------------------------------------------------------------------
	culture
---------------------------------------------------------------------------*/
.culture-units{
	overflow: hidden;
	margin: -50px 0 0 -61px;
}

.culture-unit{
	float: left;
	width: 286px;
	margin: 50px 0 0 61px;
	padding-top: 30px;
	background: url(../images/bg_border.png) repeat-x 0 0;
}

.culture-unitTtl{
	margin-bottom: 25px;
	color: #9e2416;
	font-size: 18px;
	font-weight: bold;
}

.culture-unitTxt a{
	color: #333;
}

@media screen and (max-width: 768px){
	.culture-units{
		margin: 0;
	}
	.culture-unit{
		float: none;
		width: auto;
		margin: 0;
		padding-top: 20px;
		background-size: auto 2px;
	}
	.culture-unit + .culture-unit{
		margin-top: 30px;
	}
	.culture-unitTtl{
		margin-bottom: 15px;
		font-size: 14px;
	}
}

/*--------------------------------------------------------------------------
	moreinfo-unit
---------------------------------------------------------------------------*/
.moreinfo-cont{
	padding-top: 30px;
	padding-bottom: 30px;
}

.moreinfo-unit{
	display: table;
	width: 100%;
	padding: 25px 0;
}

.moreinfo-unit + .moreinfo-unit{
	border-top: 1px solid #ddd;
}

.moreinfo-unitTtl{
	display: table-cell;
	width: 110px;
	font-weight: bold;
	vertical-align: top;
}

.moreinfo-unitTxt{
	display: table-cell;
	vertical-align: top;
}

@media screen and (max-width: 768px){
	.moreinfo-cont{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.moreinfo-unit{
		display: block;
		width: auto;
	}
	.moreinfo-unitTtl{
		display: block;
		width: auto;
		margin-bottom: 15px;
	}
	.moreinfo-unitTxt{
		display: block;
	}
}

/*--------------------------------------------------------------------------
	 entry-btn
---------------------------------------------------------------------------*/
.entry-btn {
	position: fixed;
	right: 52px;
	bottom: 92px;
	z-index: 10;
	-webkit-transition: opacity .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: opacity .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.entry-btn.is-hidden {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s .3s ease;
	transition: opacity .3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s .3s ease;
}

.entry-btn a {
	display: block;
	position: relative;
	width: 162px;
	height: 162px;
	border-radius: 50%;
}

.entry-btn a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #9d2416;
	-webkit-transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition: -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modePC .entry-btn a:hover:before {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.entry-btn a:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 98px;
	height: 20px;
	margin: auto;
	background: url(../images/txt_entry.png) no-repeat 50%;
	background-size: cover;
}

@media screen and (max-width: 768px){
	.entry-btn {
		right: 10px;
		bottom: 10px;
	}
	.entry-btn a {
		width: 58px;
		height: 58px;
	}
	.entry-btn a:after {
		width: 43px;
		height: 9px;
	}
}