@charset 'UTF-8';
/**
 *
 *  クロストーク共通
 *
 */
/*--------------------------------------------------------------------------
	body
---------------------------------------------------------------------------*/
#Content{
	overflow: hidden;
	background: url(/shared/images/bg_repeat_dots01.png);
}

@media screen and (max-width: 768px){
	#Content{
		background-size: 100px 100px;
	}
}

/*--------------------------------------------------------------------------
	m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader-ttl{
	margin-top: -100px;
}

.m-pageHeader-txt{
	margin-top: 30px;
	color: #000;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 0px 0px 10px #fff;
}

/* modifier
-----------------------------------------------------------------*/
.m-pageHeader-talk{
	height: 674px;
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		height: 380px;
		background-position: 0 100%;
	}
	.m-pageHeader-inner{
		vertical-align: top;
	}
	.m-pageHeader-ttl{
		margin-top: 25px;
	}
	.m-pageHeader-txt{
		margin-top: 15px;
		font-size: 18px;
	}
}

/*--------------------------------------------------------------------------
	.m-container
---------------------------------------------------------------------------*/
.m-container{
	background: transparent;
}

@media screen and (max-width: 768px){
	.m-container{
		padding: 0 0 45px;
	}
}

/*--------------------------------------------------------------------------
 profile
---------------------------------------------------------------------------*/
.profile{
	position: relative;
	overflow: hidden;
	width: 1100px;
	margin: -200px auto 120px;
	padding: 35px 50px;
	background: #3a3a3a;
	box-shadow: 0px 0px 60px 0px rgba(58, 58, 58, .6);
}

.profile:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 21px;
	height: 21px;
	margin-top: -10px;
	margin-left: -10px;
	background: url(../images/common/ico_cross.png) no-repeat 0 0;
}

.profile-list{
	width: 450px;
}

.profile-ttl{
	margin-bottom: 30px;
}

.profile-txt{
	color: #bdbdbd;
	font-size: 14px;
}

/* modifier
-----------------------------------------------------------------*/
.profile-list01{
	float: left;
}

.profile-list02{
	float: right;
}

@media screen and (max-width: 768px){
	.profile{
		width: auto;
		margin: -50px 10px 60px;
		padding: 20px 25px;
		box-shadow: 0px 0px 30px 0px rgba(58, 58, 58, .6);
	}
	.profile:after{
		display: none;
	}
	.profile-list{
		width: auto;
	}
	.profile-list + .profile-list{
		margin-top: 40px;
	}
	.profile-ttl{
		margin-bottom: 15px;
	}
	.profile-txt{
		font-size: 10px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.profile-list01{
		float: none;
	}
	.profile-list02{
		position: relative;
		float: none;
	}
	.profile-list02:after{
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 13px;
		height: 13px;
		margin: -26px 0 0 -6px;
		background: url(../images/common/ico_cross_sp.png) no-repeat 0 0;
		background-size: 13px 13px;
	}
}

/*--------------------------------------------------------------------------
 talkSec
---------------------------------------------------------------------------*/
.talkSec + .talkSec{
	margin-top: 120px;
}

@media screen and (max-width: 768px){
	.talkSec + .talkSec{
		margin-top: 50px;
	}
}

/*--------------------------------------------------------------------------
 talkTtl
---------------------------------------------------------------------------*/
.talkTtl{
	position: relative;
	margin-bottom: 80px;
	padding: 30px 0;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	-webkit-transition: opacity .2s ease;
	        transition: opacity .2s ease;
}

.talkTtl:before,
.talkTtl:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background: #000;
}

.talkTtl:before{
	top: 0;
	left: 0;
	-webkit-transform-origin: left top;
	        transform-origin: left top;
}

.talkTtl:after{
	bottom: 0;
	right: 0;
	-webkit-transform-origin: right top;
	        transform-origin: right top;
}

@media screen and (max-width: 768px){
	.talkTtl{
		margin: 0 10px 20px;
		padding: 15px 0;
		font-size: 14px;
	}
}

/* animation
-----------------------------------------------------------------*/
.talkTtl.is-tweenInit:before,
.talkTtl.is-tweenInit:after{
	-webkit-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all .7s cubic-bezier(.08, .62, .53, .92);
	        transition: all .7s cubic-bezier(.08, .62, .53, .92);
}

.talkTtl.is-tween:before,
.talkTtl.is-tween:after{
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}

/*--------------------------------------------------------------------------
 talkGroup
---------------------------------------------------------------------------*/
.talkGroup{
	position: relative;
}

.talkGroup-fig{
	position: relative;
	z-index: 0;
}

.talkGroup-interview{
	position: relative;
	z-index: 1;
}

.talkGroup-interviewInner{
	display: inline-block;
	width: 534px;
	padding: 60px 30px;
	background: #fff;
	box-shadow: 0px 0px 60px 0px rgba(58, 58, 58, .15);
}

.talkGroup-ttl{
	margin-bottom: 40px;
	color: #9e2416;
	font-size: 18px;
	text-align: center;
}

.talkGroup-unit{
	display: table;
	width: 100%;
}

.talkGroup-unit + .talkGroup-unit{
	margin-top: 30px;
}

.talkGroup-staff{
	display: table-cell;
	width: 54px;
	vertical-align: top;
}

.talkGroup-name{
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.talkGroup-txtGroup{
	display: table-cell;
	position: relative;
	padding-left: 20px;
	vertical-align: top;
}

.talkGroup-txtGroup:before{
	display: block;
	content: '';
	height: 20px;
}

.talkGroup-txt{
	text-align: left;
}

/* animation
-----------------------------------------------------------------*/
.talkGroup-fig.is-tweenInit{
	opacity: 0;
	-webkit-transform: translateY(50px);
	        transform: translateY(50px);
	-webkit-transition: all .7s ease-out;
	        transition: all .7s ease-out;
}

.talkGroup-fig.is-tween{
	opacity: 1;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

.talkGroup-interview.is-tweenInit{
	opacity: 0;
	-webkit-transform: translateY(50px);
	        transform: translateY(50px);
	-webkit-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}

.talkGroup-interview.is-tween{
	opacity: 1;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}

@media screen and (max-width: 768px){
	.talkGroup-fig img{
		width: 100%;
		height: auto;
	}
	.talkGroup-ttl{
		margin-bottom: 30px;
		font-size: 12px;
	}
	.talkGroup-interviewInner{
		display: block;
		position: relative;
		width: auto;
		padding: 40px 10px;
		box-shadow: 0px 0px 30px 0px rgba(58, 58, 58, .15);
	}
	.talkGroup-staff{
		width: 40px;
	}
	.talkGroup-txtGroup{
		padding-left: 8px;
	}
	.talkGroup-txtGroup:before{
		height: 10px;
	}
	.talkGroup-txt{
		font-size: 11px;
	}
	/* animation reset
	-----------------------------------------------------------------*/
	.talkGroup-fig{
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
		-webkit-transition: none;
		        transition: none;
	}
	.talkGroup-interview{
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: none;
		        transition: none;
	}
}

/*--------------------------------------------------------------------------
 talkFullFig
---------------------------------------------------------------------------*/
.talkFullFig{
	height: 560px;
	margin: 120px 0;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 768px){
	.talkFullFig{
		height: auto;
		margin: 50px 0;
	}
	.talkFullFig img{
		width: 100%;
		height: auto;
	}
}

/*--------------------------------------------------------------------------
 pager
---------------------------------------------------------------------------*/
.pager{
	overflow: hidden;
	margin-top: 100px;
}

.pager-inner{
	height: 318px;
}

.pager-back{
	display: table;
	float: left;
	width: 328px;
	height: 100%;
	background: #000;
}

.pager-back a{
	display: table-cell;
	color: #fff;
	font-size: 20px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	letter-spacing: .14em;
}

.ie .pager-back a{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.pager-back span{
	display: inline-block;
	position: relative;
}

.pager-back span:after{
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	right: -34px;
	width: 22px;
	height: 1px;
	background: #fff;
	-webkit-transition: -webkit-transform .2s ease-out;
	        transition:         transform .2s ease-out;
}

.pager-other{
	display: table;
	float: left;
	width: 762px;
	height: 100%;
	margin-left: 10px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.pager-other a{
	display: table-cell;
	background: transparent;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background .2s ease-out;
	        transition: background .2s ease-out;
}

.pager-otherTtl{
	position: relative;
	z-index: 1;
}

.pager-otherTtl .number{
	display: block;
	margin-bottom: 20px;
}

.pager-otherTtl .txt{
	font-size: 22px;
	font-weight: bold;
	letter-spacing: .16em;
}
.information-entry{
	margin-top: 90px;
}

.information-entry .c-btn{
	width: 100%;
	height: 152px;
	font-size: 26px;
	line-height: 152px;
}
/* hover
-----------------------------------------------------------------*/
.modePC .pager-back a:hover span:after{
	-webkit-transform: translateX(-30px);
	        transform: translateX(-30px);
	width: 75px;
}

.modePC .pager-other a:hover{
	background: rgba(0, 0, 0, .5);
}

@media screen and (max-width: 768px){
	.pager{
		margin: 50px 10px 0;
	}
	.pager-inner{
		height: 125px;
	}
	.pager-back{
		display: table;
		float: left;
		width: 18%;
	}
	.pager-back a{
		font-size: 10px;
	}
	.pager-back span:after{
		display: none;
	}
	.pager-other{
		width: 80%;
		height: 100%;
		margin-left: 2%;
	}
	.pager-otherTtl .number{
		margin-bottom: 10px;
	}
	.pager-otherTtl .txt{
		font-size: 10px;
		letter-spacing: normal;
	}
}