@charset 'UTF-8';
/**
 *
 *  クロストーク01
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/talk05/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/talk05/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	talkGroup
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.talkGroup-group01 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group01 .talkGroup-interview{
	margin-top: -307px;
	margin-left: -30px;
}

.talkGroup-group02{
	height: 591px;
	margin-top: 380px;
}

.talkGroup-group02 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group02 .talkGroup-interview{
	margin-top: -1274px;
	margin-right: -30px;
	text-align: right;
}

.talkGroup-group03{
	margin-top: 140px;
}

.talkGroup-group03 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group03 .talkGroup-interview{
	margin-top: -455px;
	margin-left: -30px;
}

.talkGroup-group04 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group04 .talkGroup-interview{
	margin-top: -514px;
	margin-right: -30px;
	text-align: right;
}

.talkGroup-group05{
	margin-top: 80px;
}

.talkGroup-group05 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group05 .talkGroup-interview{
	margin-top: -426px;
	margin-left: -30px;
}

.talkGroup-group06 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group06 .talkGroup-interview{
	margin-top: -232px;
	margin-right: -30px;
	text-align: right;
}

.talkGroup-group07{
	margin-top: 80px;
}

.talkGroup-group07 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group07 .talkGroup-interview{
	margin-top: -430px;
	margin-left: -30px;
}


.talkGroup-group08{
	margin-top: 967px;
	height: 591px;
}

.talkGroup-group08 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group08 .talkGroup-interview{
	margin-top: -1560px;
	margin-right: -30px;
	text-align: right;
}




@media screen and (max-width: 768px){
	/* 初期化 */
	.talkGroup{
		height: auto;
	}
	.talkGroup .talkGroup-fig{
		margin: 0;
	}
	.talkGroup .talkGroup-interview{
		margin: -20px 10px 0;
		text-align: left;
	}
	.talkGroup + .talkGroup{
		margin-top: 30px;
	}
}

/*--------------------------------------------------------------------------
 talkFullFig
---------------------------------------------------------------------------*/
.talkFullFig{
	background-image: url(../images/talk05/img_talk04.jpg);
}

/*--------------------------------------------------------------------------
 pager
---------------------------------------------------------------------------*/
.pager-other{
	background-image: url(../images/talk01/img_pager.jpg);
}

@media screen and (max-width: 768px){
	.pager-other{
		background-image: url(../images/talk01/img_pager_sp.jpg);
	}
}