@charset 'UTF-8';
/**
 *
 *  クロストーク01
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/talk03/img_kv.jpg);
}
.m-pageHeader-ttl {
	margin-top: -70px;
}
.m-pageHeader-txt {
	color: #fff;
	text-shadow: none;
}

.profile:after {
	display: none;
}
.profile-list {
	width: 256px;
	float: left;
	position: relative;
}
.profile-list + .profile-list {
	margin-left: 116px;
}
.profile-list + .profile-list:after {
	content: '';
	position: absolute;
	top: 50%;
	left: -58px;
	width: 21px;
	height: 21px;
	margin-top: -10px;
	margin-left: -10px;
	background: url(../images/common/ico_cross.png) no-repeat 0 0;
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/talk03/img_kv_sp.jpg);
	}
	.m-pageHeader-ttl {
		margin-top: 35px;
	}
	.profile-list {
		width: auto;
		float: none;
	}
	.profile-list + .profile-list {
		margin-left: 0;
	}
	.profile-list + .profile-list:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 13px;
		height: 13px;
		margin-top: -26px;
		margin-left: -6px;
		background-size: contain;
	}
}

/*--------------------------------------------------------------------------
	talkGroup
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.talkGroup-group01 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group01 .talkGroup-interview{
	margin-top: -307px;
	margin-left: -30px;
}

.talkGroup-group02{
	height: 591px;
	margin-top: 185px;
}

.talkGroup-group02 .talkGroup-fig{
	margin-left: -150px;
}
.talkGroup-group02 .talkGroup-interview{
	margin-top: -888px;
	margin-right: -30px;
	text-align: right;
}

.talkGroup-group03{
	height: 900px;
	margin-top: 293px;
}

.talkGroup-group03 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group03 .talkGroup-interview{
	margin-top: -1091px;
	margin-left: -30px;
}

.talkGroup-group04 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group04 .talkGroup-interview{
	margin-top: -420px;
	margin-right: -30px;
	text-align: right;
}

.talkGroup-group05{
	margin-top: 670px;
	height: 591px;
}

.talkGroup-group05 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group05 .talkGroup-interview{
	margin-top: -1426px;
	margin-left: -30px;
}

.talkGroup-group06 .talkGroup-fig{
	margin-right: -150px;
	text-align: right;
}

.talkGroup-group06 .talkGroup-interview{
	margin-top: -425px;
	margin-left: -30px;
}

.talkGroup-group07{
	margin-top: -100px;
}

.talkGroup-group07 .talkGroup-fig{
	margin-left: -150px;
}

.talkGroup-group07 .talkGroup-interview{
	margin-top: -100px;
	margin-right: -30px;
	text-align: right;
}

@media screen and (max-width: 768px){
	/* 初期化 */
	.talkGroup{
		height: auto;
	}
	.talkGroup .talkGroup-fig{
		margin: 0;
	}
	.talkGroup .talkGroup-interview{
		margin: -20px 10px 0;
		text-align: left;
	}
	.talkGroup + .talkGroup{
		margin-top: 30px;
	}
}

/*--------------------------------------------------------------------------
 talkFullFig
---------------------------------------------------------------------------*/
.talkFullFig{
	background-image: url(../images/talk03/img_talk04.jpg);
}

/*--------------------------------------------------------------------------
 pager
---------------------------------------------------------------------------*/
.pager-other{
	background-image: url(../images/talk04/img_pager.jpg);
}

@media screen and (max-width: 768px){
	.pager-other{
		background-image: url(../images/talk04/img_pager_sp.jpg);
	}
}