@charset 'UTF-8';
/**
 *
 *  確認ページ共通
 *
 */
/*--------------------------------------------------------------------------
   entrySubmit
---------------------------------------------------------------------------*/
.entrySubmit{
	margin-top: 60px;
}

@media screen and (max-width: 768px){
	.entrySubmit{
		margin-top: 30px;
	}
}