@charset 'UTF-8';
/**
 *
 *  インデックスページ共通
 *
 */
/*--------------------------------------------------------------------------
   tab
---------------------------------------------------------------------------*/
.tab{
	height: 70px;
	background: #000;
	text-align: center;
}

.tab-lists{
	display: block;
	width: 765px;
	overflow: hidden;
	height: 100%;
	margin: auto;
}

.tab-lists li{
	display: table;
	position: relative;
	float: left;
	width: 255px;
	height: 100%;
}

.tab-lists li + li:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 14px;
	margin-top: -7px;
	background: #4d4d4d;
}

.tab-lists a{
	display: table-cell;
	vertical-align: middle;
}

.tab-lists span{
	display: inline-block;
	position: relative;
	padding-bottom: 13px;
	line-height: 1;
}

.tab-lists span:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 11px;
	height: 7px;
	margin-left: -6px;
	background: url(/newopen/shared/images/ico_arrow01.png) no-repeat 50% 0;
	-webkit-transition: bottom .2s ease;
	        transition: bottom .2s ease;
}

.tab-lists img{
	vertical-align: middle;
}

.modePC .tab-lists a:hover span:after{
	bottom: -5px;
}

/*--------------------------------------------------------------------------
   concept
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
   conceptCont
---------------------------------------------------------------------------*/
.conceptCont{
	background: #272727 url(/newopen/shared/images/bg_concept_jb.png) no-repeat 50% 50%;
	background-size: 295px auto;
	padding: 80px 0;
}

.conceptCont-inner{
	height: 100%;
	text-align: center;
}

@media screen and (max-width: 768px){
	.conceptCont{
		padding: 40px 0;
		background-size: 208px auto;
	}
	.conceptCont-inner{
		padding: 0 15px;
	}
}

/*--------------------------------------------------------------------------
   conceptTtl
---------------------------------------------------------------------------*/
.conceptTtl:before{
	background-color: #bc996a;
}

/*--------------------------------------------------------------------------
   conceptTxt
---------------------------------------------------------------------------*/
.conceptTxt{
	color: #b0b0b0;
	font-size: 16px;
	font-weight: bold;
	line-height: 2.6;
	letter-spacing: .05em;
}

@media screen and (max-width: 768px){
	.conceptTxt{
		font-size: 12px;
		line-height: 2.6;
	}
}

/*--------------------------------------------------------------------------
   conceptFig
---------------------------------------------------------------------------*/
.conceptFig{
	height: 300px;
	background: url(/newopen/shared/images/bg_concept.jpg) no-repeat 50% 0;
	background-size: cover;
}

@media screen and (max-width: 768px){
	.conceptFig{
		height: 190px;
		background-image: url(/newopen/shared/images/bg_concept_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
   recruit
---------------------------------------------------------------------------*/
.recruit{
	position: relative;
	background: #efefef;
}

.recruit-inner{
	position: relative;
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.recruit-inner{
		width: auto;
		padding: 0 10px;
	}
}

/*--------------------------------------------------------------------------
   recruitFrame
---------------------------------------------------------------------------*/
.recruitFrame{
	position: relative;
	top: -50px;
}

.recruitFrame-body{
	padding: 60px 50px;
}

@media screen and (max-width: 768px){
	.recruitFrame{
		top: -40px;
	}
	.recruitFrame-body{
		padding: 40px 20px 25px;
	}
}

/*--------------------------------------------------------------------------
   recruitTtl
---------------------------------------------------------------------------*/
.recruitTtl{
	margin-bottom: 45px;
}

.recruitTtl:before{
	background-color: #9e2416;
}

@media screen and (max-width: 768px){
	.recruitTtl{
		margin-bottom: 20px;
	}
}

/*--------------------------------------------------------------------------
   recruitLead
---------------------------------------------------------------------------*/
.recruitLead{
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
}

@media screen and (max-width: 768px){
	.recruitLead{
		margin-bottom: 20px;
		font-size: 12px;
	}
}

/*--------------------------------------------------------------------------
   recruitLists
---------------------------------------------------------------------------*/
.recruitLists{
	border-top: 1px solid #e9e3d3;
}

/*--------------------------------------------------------------------------
   recruitList
---------------------------------------------------------------------------*/
.recruitList{
	display: table;
	width: 100%;
	padding: 25px 0;
	border-bottom: 1px solid #e9e3d3;
}

.recruitList-ttl{
	display: table-cell;
	width: 205px;
	font-weight: bold;
}

.recruitList-cont{
	display: table-cell;
}

.recruitList-lead{
	margin-bottom: 10px;
}

.recruitList-ttlList + .recruitList-ttlList{
	margin-top: 10px;
}

@media screen and (max-width: 768px){
	.recruitList{
		display: block;
		width: auto;
		padding: 20px 0;
	}
	.recruitList-ttl{
		display: block;
		width: auto;
		margin-bottom: 5px;
	}
	.recruitList-cont{
		display: block;
	}
}

/*--------------------------------------------------------------------------
   recruitDetailList
---------------------------------------------------------------------------*/
.recruitDetailList{
	display: table;
	width: 100%;
}

.recruitDetailList + .recruitDetailList{
	margin-top: 15px;
}

.recruitDetailList-ttl,
.recruitDetailList-txt{
	display: table-cell;
	vertical-align: top;
}

.recruitDetailList-ttl{
	width: 50px;
	white-space: nowrap;
}

/*--------------------------------------------------------------------------
   recruitCaution
---------------------------------------------------------------------------*/
.recruitCaution{
	margin-top: 15px;
	font-size: 13px;
}

@media screen and (max-width: 768px){
	.recruitCaution{
		font-size: 11px;
	}
}

/*--------------------------------------------------------------------------
   entry
---------------------------------------------------------------------------*/
.entry{
	padding-top: 201px;
}

.entry:after{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 111px;
	background: url(/newopen/shared/images/bg_recruit.png) no-repeat 50% 0;
}

@media screen and (max-width: 768px){
	.entry{
		padding: 70px 0 50px;
	}
	.entry:after{
		height: 32px;
		background-image: url(/newopen/shared/images/bg_recruit_sp.png);
		background-size: 100% 32px;
	}
}

/*--------------------------------------------------------------------------
   entryFormList
---------------------------------------------------------------------------*/
/* unique
-----------------------------------------------------------------*/
.entryFormList-name .c-input{
	width: 330px;
}

.entryFormList-birth .c-input{
	margin: 0 20px;
}

.entryFormList-birth .year.c-input{
	width: 115px;
}

.entryFormList-birth .month.c-input,
.entryFormList-birth .day.c-input{
	width: 95px;
}

.entryFormList-gender .c-radio + .c-radio{
	margin-left: 40px;
}

.entryFormList-tel .c-input{
	width: 330px;
}

.entryFormList-job .c-select{
	width: 330px;
}

.entryFormList-jobType .c-select{
	width: 330px;
}

@media screen and (max-width: 768px){
	/* unique
  -----------------------------------------------------------------*/
	.entryFormList-name .c-input{
		width: 100%;
	}
	.entryFormList-birth .c-input{
		margin: 0 4px;
	}
	.entryFormList-birth .c-input:first-child{
		margin: 0 4px 0 0;
	}
	.entryFormList-birth .year.c-input{
		width: 70px;
	}
	.entryFormList-birth .month.c-input,
	.entryFormList-birth .day.c-input{
		width: 50px;
	}
	.entryFormList-gender .c-radio + .c-radio{
		margin-left: 25px;
	}
	.entryFormList-tel .c-input{
		width: 100%;
	}
	.entryFormList-job .c-select{
		width: 100%;
	}
	.entryFormList-jobType .c-select{
		width: 100%;
	}
	.entryFormList-ask .c-text{
		height: 150px;
	}
}