@charset 'UTF-8';
/**
 *
 *  ブログ共通
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	 blogNav
---------------------------------------------------------------------------*/
.blogNav{
	height: 70px;
	background: #000;
}

.blogNav-inner{
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.blogNav{
		height: auto;
	}
	.blogNav-inner{
		width: auto;
	}
}

/*--------------------------------------------------------------------------
	 blogNavSelects
---------------------------------------------------------------------------*/
.blogNavSelects{
    float: right;
    width: 420px;
}

@media screen and (max-width: 768px){
    .blogNavSelects{
        float: none;
        width: auto;
    }
}

/*--------------------------------------------------------------------------
	 blogNavSelect
---------------------------------------------------------------------------*/
.blogNavSelect{
	float: left;
}

@media screen and (max-width: 768px){
	.blogNavSelect{
		float: none;
	}
}

/*--------------------------------------------------------------------------
	 blogSelect
---------------------------------------------------------------------------*/
.blogSelect{
	display: table;
	position: relative;
	width: 210px;
	height: 70px;
	text-align: center;
}

.blogSelect:after{
	content: '';
	position: absolute;
	top: 50%;
	right: 15px;
	width: 11px;
	height: 7px;
	margin-top: -2px;
	background: url(../images/ico_arrow_blog_nav.png) no-repeat 0 0;
}

.blogSelect select{
	display: block;
	width: 100%;
	height: 70px;
	padding-left: 40px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border: none;
	border-radius: 0;
	background: #262626;
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: background-color .2s ease-out;
	        transition: background-color .2s ease-out;
}

.blogSelect select::-ms-expand{
	display: none;
}

.lt-ie9 .blogSelect:after{
	display: none;
}

/* hover
-----------------------------------------------------------------*/
.modePC .blogSelect:hover select{
	background-color: #333;
}

@media screen and (max-width: 768px){
	.blogSelect{
		width: 100%;
		height: 50px;
		border-top: 1px solid #4d4d4d;
	}
	.blogSelect:after{
		right: 10px;
		width: 10px;
		height: 6px;
		margin-top: -3px;
		background-image: url(../images/ico_arrow_blog_nav_sp.png);
		background-size: 10px 6px;
	}
	.blogSelect select{
		height: 50px;
		padding-left: 10px;
		font-size: 12px;
	}
}