@charset 'UTF-8';
/**
 *
 *  ブログ詳細
 *
 */
/*--------------------------------------------------------------------------
	m-container 下層コンテナ
---------------------------------------------------------------------------*/
.m-container{
	padding: 50px 0 80px;
}

@media screen and (max-width: 768px){
	.m-container{
		padding: 30px 10px 50px;
	}
}

/*--------------------------------------------------------------------------
 detail 詳細セクションラッパー
---------------------------------------------------------------------------*/
.detail{
	padding: 45px 40px 40px;
	background: #fff;
	box-shadow: 2px 2px 8px 1px rgba(62, 71, 117, .1);
}

@media screen and (max-width: 768px){
	.detail{
		padding: 25px 25px 35px;
	}
}

/*--------------------------------------------------------------------------
 detailInfo タグ、日付
---------------------------------------------------------------------------*/
.detailInfo{
	margin-bottom: 20px;
	letter-spacing: -.4em;
}

.detailInfo-tag{
	letter-spacing: 0;
	vertical-align: middle;
}

.detailInfo-date{
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	vertical-align: middle;
	letter-spacing: 0;
}

@media screen and (max-width: 768px){
	.detailInfo{
		margin-bottom: 15px;
	}
	.detailInfo-date{
		display: inline-block;
		margin-left: 15px;
		font-size: 11px;
	}
}

/*--------------------------------------------------------------------------
 detailTtl タイトル
---------------------------------------------------------------------------*/
.detailTtl{
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #999;
	font-size: 28px;
	font-weight: bold;
}

@media screen and (max-width: 768px){
	.detailTtl{
		margin-bottom: 25px;
		padding-bottom: 20px;
		font-size: 16px;
	}
}

/*--------------------------------------------------------------------------
 detailSection　セクション
---------------------------------------------------------------------------*/
.detailSection p{
	line-height: 2.3;
}

.detailSection + .detailSection{
	margin-top: 45px;
}

@media screen and (max-width: 768px){
	.detailSection p{
		line-height: 1.7;
	}
	.detailSection + .detailSection{
		margin-top: 40px;
	}
}

/*--------------------------------------------------------------------------
 detailHdgLarge 大見出し
---------------------------------------------------------------------------*/
.detailHdgLarge{
	position: relative;
	margin-bottom: 40px;
	padding-left: 22px;
	font-size: 26px;
	line-height: 1.4;
	border-left: 5px solid #9e2416;
}

@media screen and (max-width: 768px){
	.detailHdgLarge{
		margin-bottom: 25px;
		padding-left: 12px;
		font-size: 14px;
		border-left-width: 3px;
	}
}

/*--------------------------------------------------------------------------
 detailHdgSmall 小見出し
---------------------------------------------------------------------------*/
.detailHdgSmall{
	margin-bottom: 15px;
	font-size: 18px;
	color: #9e2416;
}

@media screen and (max-width: 768px){
	.detailHdgSmall{
		margin-bottom: 10px;
		font-size: 12px;
	}
}

/*--------------------------------------------------------------------------
 detailFigLarge 大画像
---------------------------------------------------------------------------*/
.detailFigLarge img{
	width: 100%;
	height: auto;
}

/*--------------------------------------------------------------------------
 detailLayoutRight 右レイアウト
---------------------------------------------------------------------------*/
.detailLayoutRight{
	overflow: hidden;
}

.detailLayoutRight-fig{
	float: left;
	width: 50%;
	margin: 0 40px 40px 0;
}

.detailLayoutRight-fig img{
	width: 100%;
	height: auto;
}

@media screen and (max-width: 768px){
	.detailLayoutRight-fig{
		margin: 0 15px 20px 0;
	}
}

/*--------------------------------------------------------------------------
 detailPager ページャー
---------------------------------------------------------------------------*/
.detailPager{
	display: table;
	width: 100%;
	height: 64px;
	margin-top: 50px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	text-align: center;
}

.detailPager-prev,
.detailPager-back,
.detailPager-next{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.detailPager-prev,
.detailPager-next{
	position: relative;
	width: 152px;
}

.detailPager-prev:after,
.detailPager-next:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	width: 1px;
	height: 30px;
	margin-top: -15px;
	background: #999;
}

.detailPager-prev:after{
	right: 0;
}

.detailPager-next:after{
	left: 0;
}

.detailPager-prev a,
.detailPager-back a,
.detailPager-next a{
	display: table;
	width: 100%;
	height: 100%;
	color: #333;
	text-decoration: none;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
	vertical-align: middle;
}

.detailPager-cell{
	display: table-cell;
	vertical-align: middle;
}

.detailPager-cell span{
	display: inline-block;
	position: relative;
}

.detailPager-cell span:after{
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.detailPager-prev .detailPager-cell span:after,
.detailPager-next .detailPager-cell span:after{
	width: 7px;
	height: 11px;
}

.detailPager-prev .detailPager-cell span{
	padding-left: 17px;
}

.detailPager-prev .detailPager-cell span:after{
	left: 0;
	background-image: url(../images/ico_pager_prev.png);
}

.detailPager-back .detailPager-cell span{
	padding-left: 26px;
}

.detailPager-back .detailPager-cell span:after{
	left: 0;
	width: 14px;
	height: 12px;
	background-image: url(../images/ico_pager_back.png);
}

.detailPager-next .detailPager-cell span{
	padding-right: 20px;
}

.detailPager-next .detailPager-cell span:after{
	right: 0;
	background-image: url(../images/ico_pager_next.png);
}

/* hover
-----------------------------------------------------------------*/
.modePC .detailPager-prev a:hover,
.modePC .detailPager-back a:hover,
.modePC .detailPager-next a:hover{
	color: #9e2416;
}

@media screen and (max-width: 768px){
	.detailPager{
		height: 45px;
		margin-top: 30px;
	}
	.detailPager-prev,
	.detailPager-next{
		width: 85px;
	}
	.detailPager-prev:after,
	.detailPager-next:after{
		height: 19px;
		margin-top: -10px;
	}
	.detailPager-prev .detailPager-cell span:after,
	.detailPager-next .detailPager-cell span:after{
		width: 6px;
		height: 11px;
		background-size: 6px 11px;
	}
	.detailPager-prev .detailPager-cell span{
		padding-left: 15px;
	}
	.detailPager-prev .detailPager-cell span:after{
		background-image: url(../images/ico_pager_prev_sp.png);
	}
	.detailPager-back .detailPager-cell span{
		padding-left: 19px;
	}
	.detailPager-back .detailPager-cell span:after{
		width: 11px;
		height: 9px;
		background-image: url(../images/ico_pager_back_sp.png);
		background-size: 11px 9px;
	}
	.detailPager-next .detailPager-cell span{
		padding-right: 15px;
	}
	.detailPager-next .detailPager-cell span:after{
		background-image: url(../images/ico_pager_next_sp.png);
	}
}