@charset 'UTF-8';
/**
 *
 *  ブログ一覧
 *
 */
/*--------------------------------------------------------------------------
 m-container 下層コンテナ
---------------------------------------------------------------------------*/
.m-container{
	padding: 50px 0 80px;
}

@media screen and (max-width: 768px){
	.m-container{
		padding: 30px 10px 50px;
	}
}

/*--------------------------------------------------------------------------
	c-diagonalTtl
---------------------------------------------------------------------------*/
.c-diagonalTtl{
	margin-bottom: 35px;
}

@media screen and (max-width: 768px){
	.c-diagonalTtl{
		margin-bottom: 20px;
	}
}

/*--------------------------------------------------------------------------
	blogCard
---------------------------------------------------------------------------*/
.blogCards{
	margin: -40px 0 0 -25px;
}

.blogCard{
	float: left;
	width: 350px;
	margin: 40px 0 0 25px;
	background: #fff;
	box-shadow: 1px 3px 5px 1px rgba(62, 71, 117, .1);
}

.blogCard a{
	display: block;
	text-decoration: none;
	color: #000;
}

.blogCard-fig img{
	width: 100%;
	height: auto;
}

.blogCard-body{
	position: relative;
	padding: 40px 30px 30px;
}

.blogCard-tag{
	position: absolute;
	top: -16px;
	left: 30px;
}

.blogCard-date{
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
}

.blogCard-ttl{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.blogCard-txt{
	font-size: 12px;
}

/* animation
-----------------------------------------------------------------*/
.blogCard{
	-webkit-transition: all .3s ease;
	        transition: all .3s ease;
}

.blogCard-date,
.blogCard-ttl,
.blogCard-txt{
	-webkit-transition: color .3s ease;
	        transition: color .3s ease;
}

/* hover
-----------------------------------------------------------------*/
.modePC .blogCard:hover{
	background-color: #262626;
	-webkit-transform: translate(0, -5px);
	        transform: translate(0, -5px);
	box-shadow: 1px 3px 10px 1px rgba(62, 71, 117, .3);
}

.modePC .blogCard:hover .blogCard-date,
.modePC .blogCard:hover .blogCard-ttl,
.modePC .blogCard:hover .blogCard-txt{
	color: #fff;
}

@media screen and (max-width: 768px){
	.blogCards{
		margin: 0;
	}
	.blogCard{
		float: none;
		width: auto;
		margin: 0;
	}
	.blogCard + .blogCard{
		margin-top: 10px;
	}
	.blogCard-body{
		padding: 30px 20px 20px;
	}
	.blogCard-tag{
		top: -13px;
		left: 20px;
	}
	.blogCard-date{
		font-size: 11px;
	}
}

/*--------------------------------------------------------------------------
	m-pager
---------------------------------------------------------------------------*/
.m-pager{
	margin-top: 60px;
}

@media screen and (max-width: 768px){
	.m-pager{
		margin-top: 30px;
	}
}