@charset 'UTF-8';
/**
 *
 *  サイト共通
 *
 */
/*--------------------------------------------------------------------------
   borderTtl
---------------------------------------------------------------------------*/
.c-borderTtl{
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 25px;
	text-align: center;
}

.c-borderTtl:before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -32px;
	width: 64px;
	height: 4px;
}

@media screen and (max-width: 768px){
	.c-borderTtl{
		padding-bottom: 18px;
		margin-bottom: 18px;
	}
	.c-borderTtl:before{
		margin-left: -16px;
		width: 32px;
		height: 2px;
	}
}

/*--------------------------------------------------------------------------
   c-shadow 影つきフレーム
---------------------------------------------------------------------------*/
.c-shadow{
	position: relative;
	z-index: 0;
}

.c-shadow:after{
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: -1;
	background: url(/newopen/shared/images/bg_repeat_shadow.png);
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px){
	.c-shadow:after{
		top: 5px;
		left: 5px;
		background-image: url(/newopen/shared/images/bg_repeat_shadow_sp.png);
		background-size: 3px 3px;
	}
}

/*--------------------------------------------------------------------------
   c-scrollTop スクロールトップボタン
---------------------------------------------------------------------------*/
.c-scrollTop{
	display: none;
	position: fixed;
	bottom: 80px;
	right: 80px;
	z-index: 1000;
	opacity: 0;
	width: 90px;
	height: 90px;
	border-radius: 45px;
	background: #5b5b5b;
	-webkit-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

.c-scrollTop a{
	display: block;
	position: relative;
	text-align: center;
	line-height: 90px;
}

.c-scrollTop img{
	vertical-align: middle;
}

.modePC .c-scrollTop:hover{
	background: #bda671;
}

.c-scrollTop.is-reached{
	position: absolute;
	bottom: 170px;
}

@media screen and (max-width: 768px){
	.c-scrollTop{
		display: block;
		position: absolute;
		top: -23px;
		right: 10px;
		opacity: 1;
		width: 46px;
		height: 46px;
		border-radius: 23px;
	}
	.c-scrollTop a{
		line-height: 46px;
	}
	.c-scrollTop img{
		width: 18px;
		height: auto;
	}
}

/*--------------------------------------------------------------------------
   c-btn ボタン
---------------------------------------------------------------------------*/
.c-btn{
	display: inline-block;
	border: none;
	border-radius: 0;
	background: none;
	cursor: pointer;
}

/* c-btn-form01 フォームで使用されるボタン01
-----------------------------------------------------------------*/
.c-btn-form01{
	overflow: hidden;
	width: 360px;
	border: 1px solid #000;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: 110%;
	white-space: nowrap;
	line-height: 90px;
	-webkit-transition: all .2s ease-out;
	        transition: all .2s ease-out;
}

/* disabled
-----------------------------------------------------------------*/
.c-btn-form01:disabled{
	border-color: #ccc;
}

/* hover
-----------------------------------------------------------------*/
.modePC .c-btn-form01:hover{
	background-color: #000;
}

.modePC .c-btn-form01:disabled:hover{
	border-color: #ccc;
	background-color: #fff;
}

@media screen and (max-width: 768px){
	.c-btn-form01{
		width: 190px;
		line-height: 48px;
	}
}

/* c-btn-form02 フォームで使用されるボタン02
-----------------------------------------------------------------*/
.c-btn-form02{
	overflow: hidden;
	width: 360px;
	border: 1px solid #9e2415;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: 110%;
	white-space: nowrap;
	line-height: 90px;
	-webkit-transition: all .2s ease-out;
	        transition: all .2s ease-out;
}

/* hover
-----------------------------------------------------------------*/
.modePC .c-btn-form02:hover{
	background-color: #9e2415;
}

@media screen and (max-width: 768px){
	.c-btn-form02{
		width: 190px;
		line-height: 48px;
	}
}

/* c-btn-entry エントリーボタン
-----------------------------------------------------------------*/
.c-btn-entry{
	background-image: url(/newopen/shared/images/btn_entry.png);
}

.c-btn-entry:disabled{
	background-image: url(/newopen/shared/images/btn_entry_disabled.png);
}

/* hover
-----------------------------------------------------------------*/
.modePC .c-btn-entry:hover{
	background-image: url(/newopen/shared/images/btn_entry_on.png);
}

.modePC .c-btn-entry:disabled:hover{
	background-image: url(/newopen/shared/images/btn_entry_disabled.png);
}

@media screen and (max-width: 768px){
	.c-btn-entry{
		background-image: url(/newopen/shared/images/btn_entry_sp.png);
		background-size: auto 9px;
	}
	/* disabled
  -----------------------------------------------------------------*/
	.c-btn-entry:disabled{
		background-image: url(/newopen/shared/images/btn_entry_disabled_sp.png);
	}
}

/* c-btn-back 戻るボタン（フォーム）
-----------------------------------------------------------------*/
.c-btn-back{
	background-image: url(/newopen/shared/images/btn_back.png);
}

/* hover
-----------------------------------------------------------------*/
.modePC .c-btn-back:hover{
	background-image: url(/newopen/shared/images/btn_back_on.png);
}

@media screen and (max-width: 768px){
	.c-btn-back{
		background-image: url(/newopen/shared/images/btn_back_sp.png);
		background-size: auto 9px;
	}
}

/* c-btn-top トップへ戻るボタン
-----------------------------------------------------------------*/
.c-btn-top{
	background-image: url(/newopen/shared/images/btn_top.png);
}

/* hover
-----------------------------------------------------------------*/
.modePC .c-btn-top:hover{
	background-image: url(/newopen/shared/images/btn_top_on.png);
}

@media screen and (max-width: 768px){
	.c-btn-top{
		background-image: url(/newopen/shared/images/btn_top_sp.png);
		background-size: auto 8px;
	}
}

/*--------------------------------------------------------------------------
   フォームパーツ
---------------------------------------------------------------------------*/
/* c-input
-----------------------------------------------------------------*/
.c-input{
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	padding: 6px 10px;
	border: 1px solid #dcd2ba;
	border-radius: 0;
	background: #fefdfa;
}

@media screen and (max-width: 768px){
	.c-input{
		font-size: 12px;
	}
}

/* c-text
-----------------------------------------------------------------*/
.c-text{
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	height: 220px;
	padding: 6px 10px;
	border: 1px solid #dcd2ba;
	border-radius: 0;
	background: #fefdfa;
	resize: none;
}

@media screen and (max-width: 768px){
	.c-text{
		font-size: 12px;
	}
}

/* c-radio ラジオボタン
-----------------------------------------------------------------*/
.c-radio{
	display: inline-block;
	vertical-align: middle;
}

.c-radio label{
	display: inline-block;
	position: relative;
	padding-left: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.c-radio label:before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	border: 1px solid #dcd2ba;
	border-radius: 9px;
}

.c-radio label:after{
	content: '';
	display: none;
	position: absolute;
	top: 50%;
	left: 10px;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	margin-left: -6px;
	border-radius: 6px;
	background: #9e2416;
}

.c-radio input:checked + label:after{
	display: block;
}

.c-radio input[type='radio']{
	display: none;
}

@media screen and (max-width: 768px){
	.c-radio label{
		padding-left: 24px;
	}
	.c-radio label:before{
		width: 15px;
		height: 15px;
		margin-top: -8px;
		border-radius: 8px;
	}
	.c-radio label:after{
		left: 9px;
		width: 11px;
		height: 11px;
		margin-top: -5px;
	}
}

/* c-select
-----------------------------------------------------------------*/
.c-select{
	display: inline-block;
	position: relative;
	width: 100%;
}

.c-select:after{
	content: '';
	display: block;
	position: absolute;
	right: 12px;
	top: 50%;
	width: 12px;
	height: 8px;
	margin-top: -4px;
	background: url(/newopen/shared/images/ico_arrow_select.png) no-repeat 0 0;
}

.c-select select{
	display: inline-block;
	width: 100%;
	padding: 6px 30px 6px 10px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border: 1px solid #dcd2ba;
	border-radius: 0;
	background: #fefdfa;
	cursor: pointer;
}

select::-ms-expand{
	display: none;
}

.lt-ie9 .c-select:after{
	display: none;
}

@media screen and (max-width: 768px){
	.c-select:after{
		right: 10px;
		background-image: url(/newopen/shared/images/ico_arrow_select_sp.png);
		background-size: 12px 8px;
	}
	.c-select select{
		font-size: 12px;
	}
}

/* c-check
-----------------------------------------------------------------*/
.c-check{
	display: inline-block;
}

.c-check label{
	display: inline-block;
	position: relative;
	padding-left: 26px;
	vertical-align: middle;
	cursor: pointer;
}

.c-check label:before{
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	border: 1px solid #dcd2ba;
}

.c-check label:after{
	content: '';
	display: none;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 12px;
	height: 12px;
	margin-top: -5px;
	background: #9e2416;
}

.c-check input[type='checkbox']{
	display: none;
}

.c-check input:checked + label:after{
	display: block;
}

@media screen and (max-width: 768px){
	.c-check label:before{
		width: 15px;
		height: 15px;
		margin-top: -8px;
	}
	.c-check label:after{
		left: 3px;
		width: 11px;
		height: 11px;
	}
}

/*--------------------------------------------------------------------------
   m-kv
---------------------------------------------------------------------------*/
.m-kv{
	height: 660px;
	background: url(/newopen/shared/images/bg_kv.jpg) no-repeat 50% 50%;
	background-size: cover;
}

.m-kv-inner{
	display: table;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.m-kv-ttl{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.m-kv-ttl img{
	margin-top: -10px;
}

@media screen and (max-width: 768px){
	.m-kv{
		height: 320px;
		background-image: url(/newopen/shared/images/bg_kv_sp.jpg);
	}
	.m-kv-inner{
		padding-top: 60px;
	}
	.m-kv-ttl img{
		margin-top: 0;
		width: auto;
		height: 98px;
	}
}

/*--------------------------------------------------------------------------
   m-frame 装飾つきフレーム
---------------------------------------------------------------------------*/
.m-frame-inner{
	padding: 10px;
	background: #fff;
}

.m-frame-cornerTop,
.m-frame-cornerBottom{
	position: relative;
}

.m-frame-cornerTop:before,
.m-frame-cornerTop:after,
.m-frame-cornerBottom:before,
.m-frame-cornerBottom:after{
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/newopen/shared/images/bg_corner01.png);
}

.m-frame-cornerTop:before{
	top: 0;
	left: 0;
	background-position: 0 0;
}

.m-frame-cornerTop:after{
	top: 0;
	right: 0;
	background-position: 0 -20px;
}

.m-frame-cornerBottom:before{
	bottom: 0;
	left: 0;
	background-position: 0 -60px;
}

.m-frame-cornerBottom:after{
	bottom: 0;
	right: 0;
	background-position: 0 -40px;
}

.m-frame-body{
	border: 3px solid #e3d7c3;
}

@media screen and (max-width: 768px){
	.m-frame-inner{
		padding: 5px;
	}
	.m-frame-cornerTop,
	.m-frame-cornerBottom{
		position: relative;
	}
	.m-frame-cornerTop:before,
	.m-frame-cornerTop:after,
	.m-frame-cornerBottom:before,
	.m-frame-cornerBottom:after{
		width: 10px;
		height: 10px;
		background-image: url(/newopen/shared/images/bg_corner01_sp.png);
		background-size: 10px 40px;
	}
	.m-frame-cornerTop:before{
		background-position: 0 0;
	}
	.m-frame-cornerTop:after{
		background-position: 0 -10px;
	}
	.m-frame-cornerBottom:before{
		background-position: 0 -30px;
	}
	.m-frame-cornerBottom:after{
		background-position: 0 -20px;
	}
}

/*--------------------------------------------------------------------------
   m-flow フォームのフロー
---------------------------------------------------------------------------*/
.m-flow{
	margin-bottom: 50px;
	text-align: center;
}

.m-flow-txt{
	margin-top: 30px;
}

@media screen and (max-width: 768px){
	.m-flow{
		margin-bottom: 25px;
	}
	.m-flow-txt{
		margin-top: 25px;
		font-size: 12px;
	}
}

/*--------------------------------------------------------------------------
   m-privacy
---------------------------------------------------------------------------*/
.m-privacy{
	margin-top: 50px;
}

@media screen and (max-width: 768px){
	.m-privacy{
		margin-top: 25px;
	}
}

/* m-privacyTxt
-----------------------------------------------------------------*/
.m-privacyTxt{
	margin-bottom: 20px;
	font-size: 16px;
	text-align: center;
}

@media screen and (max-width: 768px){
	.m-privacyTxt{
		margin-bottom: 10px;
		font-size: 12px;
	}
}

/* m-privacyCont コンテンツ部分
-----------------------------------------------------------------*/
.m-privacyCont{
	position: relative;
	border: 1px solid #dcd2ba;
}

.m-privacyCont:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: 30px;
	background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
	background:         linear-gradient(to top, white, rgba(255, 255, 255, 0));
}

.m-privacyCont-inner{
	height: 280px;
	padding: 30px;
	overflow: auto;
}

.m-privacyLead{
	margin-bottom: 20px;
}

.m-privacyList + .m-privacyList{
	margin-top: 15px;
}

.m-privacyList-ttl{
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}

@media screen and (max-width: 768px){
	.m-privacyCont-inner{
		padding: 20px;
	}
	.m-privacyLead{
		margin-bottom: 10px;
		font-size: 11px;
	}
	.m-privacyList + .m-privacyList{
		margin-top: 10px;
	}
	.m-privacyList-ttl{
		font-size: 13px;
	}
}

/*--------------------------------------------------------------------------
   m-form フォームのラッパー要素
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
   m-formList フォーム項目
---------------------------------------------------------------------------*/
.m-formList{
	display: table;
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #e9e3d3;
}

.m-formList:first-child{
	border-top: 1px solid #e9e3d3;
}

.m-formList-ttl,
.m-formList-cont{
	display: table-cell;
}

.m-formList-ttl{
	width: 260px;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-right: 60px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: top;
}

.m-formList-cont{
	vertical-align: middle;
}

.m-formList-cont{
	padding-left: 30px;
}

.m-formList-error{
	margin-bottom: 5px;
	color: #9e2415;
}

/* modifier
-----------------------------------------------------------------*/
.m-formList-required .m-formList-ttl{
	background: url(/newopen/shared/images/ico_required.png) no-repeat 100% 8px;
}

.m-form-confirm .m-formList{
	padding: 15px 0;
}

@media screen and (max-width: 768px){
	.m-formList{
		display: block;
		width: auto;
		padding: 25px 0;
		font-size: 11px;
	}
	.m-formList-ttl{
		display: inline-block;
		width: auto;
		margin-bottom: 15px;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 45px;
		font-size: 12px;
		vertical-align: middle;
	}
	.m-formList-cont{
		display: block;
	}
	.m-formList-required .m-formList-ttl{
		background: url(/newopen/shared/images/ico_required_sp.png) no-repeat 100% 50%;
		background-size: 35px 15px;
	}
	.m-formList-cont{
		padding-left: 0;
	}
	/* modifier
  -----------------------------------------------------------------*/
	.m-form-confirm .m-formList-ttl{
		display: block;
		padding: 0;
	}
}

/*--------------------------------------------------------------------------
   m-formSubmit コンバージョンボタンエリア
---------------------------------------------------------------------------*/
.m-formSubmit{
	margin-top: 35px;
}

.m-formSubmit-agree{
	text-align: center;
}

.m-formSubmit-agree .c-check{
	font-size: 16px;
}

.m-formSubmit-btns{
	margin-top: 30px;
	text-align: center;
	letter-spacing: -.4em;
}

.m-formSubmit-btn{
	display: inline-block;
	letter-spacing: 0;
}

.m-formSubmit-btn + .m-formSubmit-btn{
	margin-left: 23px;
}

@media screen and (max-width: 768px){
	.m-formSubmit{
		margin-top: 30px;
	}
	.m-formSubmit-agree .c-check{
		font-size: 12px;
	}
	.m-formSubmit-btns{
		margin-top: 30px;
	}
	.m-formSubmit-btn{
		display: block;
	}
	.m-formSubmit-btn + .m-formSubmit-btn{
		margin-top: 10px;
		margin-left: 0;
	}
}

/*--------------------------------------------------------------------------

   utility

---------------------------------------------------------------------------*/
.u-disp-sp{
	display: none;
}

.u-disp-spImg{
	display: none;
}

@media screen and (max-width: 768px){
	.u-disp-pc{
		display: none;
	}
	.u-disp-sp{
		display: block;
	}
	.u-disp-pcImg{
		display: none;
	}
	.u-disp-spImg{
		display: inline;
	}
}

/*--------------------------------------------------------------------------
   clearfix
---------------------------------------------------------------------------*/
.u-cf:before,
.u-cf:after{
	content: '';
	display: table;
}

.u-cf:after{
	clear: both;
}

.u-cf{
	zoom: 1;
}

/*--------------------------------------------------------------------------
   entry
---------------------------------------------------------------------------*/
.entry{
	position: relative;
	padding: 85px 0 80px;
	background: #272727;
}

.entry-inner{
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.entry{
		padding: 40px 0 50px;
	}
	.entry-inner{
		width: auto;
		margin: auto;
		padding: 0 10px;
	}
}

/* entryTtl
-----------------------------------------------------------------*/
.entryTtl{
	margin-bottom: 50px;
}

.entryTtl:before{
	background: #fff;
}

@media screen and (max-width: 768px){
	.entryTtl{
		margin-bottom: 20px;
	}
}

/* entryFrame
-----------------------------------------------------------------*/
.entryFrame-body{
	padding: 70px 50px 60px;
}

@media screen and (max-width: 768px){
	.entryFrame-body{
		padding: 40px 20px;
	}
}