@charset 'UTF-8';
/**
 *
 *  サイト共通
 *
 */
/*--------------------------------------------------------------------------
   reset
---------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body{
	line-height: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
	display: block;
}

ol,
ul{
	list-style: none;
}

blockquote,
q{
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after{
	content: '';
	content: none;
}

a{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins{
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark{
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

img{
	border: 0;
	vertical-align: top;
}

em{
	font-style: italic;
}

del{
	text-decoration: line-through;
}

abbr[title],
dfn[title]{
	border-bottom: 1px dotted;
	cursor: help;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 0;
	padding: 0;
}

input,
select,
textarea{
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

input:focus,
textarea:focus,
select:focus{
	outline: none;
}

/*--------------------------------------------------------------------------
   *
---------------------------------------------------------------------------*/
*{
	box-sizing: border-box;
}

/*--------------------------------------------------------------------------
   head
---------------------------------------------------------------------------*/
head{
	font-family: pc;
}

@media screen and (max-width: 768px){
	head{
		font-family: sp;
	}
}

/*--------------------------------------------------------------------------
   html
---------------------------------------------------------------------------*/
html{
	overflow-y: scroll;
}

/*--------------------------------------------------------------------------
   body
---------------------------------------------------------------------------*/
body{
	min-width: 1120px;
	color: #333;
	font-family: '小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	font-size: 14px;
	line-height: 1.8;
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
}

.ie body{
	font-family: '游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

@media screen and (max-width: 768px){
	body{
		min-width: 320px;
		font-size: 12px;
	}
}

/*--------------------------------------------------------------------------
   base link
---------------------------------------------------------------------------*/
a{
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

a:hover{
	outline: none;
}

a:active{
	outline: none;
}

/*--------------------------------------------------------------------------
   Page
---------------------------------------------------------------------------*/
#Page{
	position: relative;
}

/*--------------------------------------------------------------------------
   gHeader
---------------------------------------------------------------------------*/
.gHeader{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: rgba(0, 0, 0, .65);
}

.gHeader-inner{
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.gHeader{
		height: 60px;
	}
	.gHeader-inner{
		width: auto;
		padding: 0 15px;
	}
}

/*--------------------------------------------------------------------------
   gHeaderLogo
---------------------------------------------------------------------------*/
.gHeaderLogo{
	line-height: 100px;
}

.gHeaderLogo img{
	vertical-align: middle;
}

@media screen and (max-width: 768px){
	.gHeaderLogo{
		line-height: 60px;
	}
	.gHeaderLogo img{
		width: auto;
		height: 30px;
	}
}

/*--------------------------------------------------------------------------
   gFooter
---------------------------------------------------------------------------*/
.gFooter{
	position: relative;
	background-color: #211f1d;
}

.gFooter-inner{
	width: 1100px;
	margin: auto;
}

@media screen and (max-width: 768px){
	.gFooter-inner{
		width: auto;
	}
}

/*--------------------------------------------------------------------------
   gFooterLogo
---------------------------------------------------------------------------*/
.gFooterLogo{
	line-height: 140px;
	text-align: center;
}

.gFooterLogo img{
	vertical-align: middle;
	width: auto;
	height: 60px;
}

@media screen and (max-width: 768px){
	.gFooterLogo{
		line-height: 105px;
	}
	.gFooterLogo img{
		height: 43px;
	}
}

/*--------------------------------------------------------------------------
   gFooterCopyright
---------------------------------------------------------------------------*/
.gFooterCopyright{
	border-top: 1px solid #383634;
	line-height: 55px;
	text-align: center;
}

.gFooterCopyright img{
	vertical-align: middle;
}

@media screen and (max-width: 768px){
	.gFooterCopyright{
		line-height: 35px;
	}
}