@charset 'UTF-8';
/**
 *
 *  ショップリスト
 *
 */
/*--------------------------------------------------------------------------
	m-pageHeadder
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	tab
---------------------------------------------------------------------------*/
.tab{
	height: 70px;
	background: #000;
	text-align: center;
}

.tab-lists{
	display: block;
	width: 1000px;
	overflow: hidden;
	height: 100%;
	margin: auto;
}

.tab-lists li{
	display: table;
	position: relative;
	float: left;
	/* width: 16%; */
	width: 20%;
	height: 100%;
}

.tab-lists li + li:before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 14px;
	margin-top: -7px;
	background: #4d4d4d;
}

.tab-lists a{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	font-size: 13px;
}

.tab-lists span{
	display: inline-block;
	position: relative;
	padding-bottom: 13px;
	line-height: 1;
}

.tab-lists span:after{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 11px;
	height: 7px;
	margin-left: -6px;
	background: url(../images/ico_arrow_tab.png) no-repeat 50% 0;
	-webkit-transition: bottom .2s ease;
					transition: bottom .2s ease;
}

.tab-lists img{
	vertical-align: middle;
}

/* hover
-----------------------------------------------------------------*/
.modePC .tab-lists a:hover span:after{
	bottom: -5px;
}

@media screen and (max-width: 768px){
	.tab{
		height: auto;
	}
	.tab-lists{
		width: auto;
		height: auto;
	}
	.tab-lists li{
		width: 50%;
		height: 50px;
		border-bottom: 1px solid #4d4d4d;
	}
	.tab-lists li + li:before{
		display: none;
	}
	.tab-lists li:nth-child(n+6){
		border-bottom: none;
	}
	.tab-lists li:nth-child(odd){
		border-right: 1px solid #4d4d4d;
	}
	.tab-lists a{
		display: table-cell;
		vertical-align: middle;
		color: #fff;
		font-size: 13px;
	}
	.tab-lists span{
		padding-bottom: 12px;
	}
	.tab-lists span:after{
		width: 8px;
		height: 5px;
		margin-left: -4px;
		background-image: url(../images/ico_arrow_tab_sp.png);
		background-size: 8px 5px;
	}
}

/*--------------------------------------------------------------------------
 m-container 下層コンテナ
---------------------------------------------------------------------------*/
.m-container{
	padding: 50px 0 80px;
}

@media screen and (max-width: 768px){
	.m-container{
		padding: 30px 10px 50px;
	}
}

/*--------------------------------------------------------------------------
	section
---------------------------------------------------------------------------*/
.section + .section{
	margin-top: 80px;
}

.section-ttl{
	margin-bottom: 30px;
}

@media screen and (max-width: 768px){
	.section + .section{
		margin-top: 40px;
	}
	.section-ttl{
		margin-bottom: 20px;
	}
}

/*--------------------------------------------------------------------------
	card
---------------------------------------------------------------------------*/
.card{
	display: table;
	width: 100%;
	overflow: hidden;
	background: #fff;
	box-shadow: 1px 3px 5px 1px rgba(62, 71, 117, .1);
}

.card + .card{
	margin-top: 35px;
}

.card-fig{
	display: table-cell;
	width: 530px;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.card-fig img{
	width: 100%;
	height: auto;
}

.card-body{
	display: table-cell;
	width: 570px;
	padding: 30px 35px;
	vertical-align: top;
}

.card-list{
	display: table;
	width: 100%;
}

.card-list + .card-list{
	margin-top: 10px;
}

.card-list .ttl{
	display: table-cell;
	width: 90px;
	font-weight: bold;
}

.card-list .txt{
	display: table-cell;
}

.card-map{
	margin-left: 15px;
}

.card-map a{
	display: inline-block;
	width: 46px;
	background: #9e2416;
	color: #fff;
	font-size: 11px;
	line-height: 22px;
	-webkit-transition: all .3s ease;
					transition: all .3s ease;
}

.card-btns{
	overflow: hidden;
	margin-top: 20px;
}

.card-btns li{
	float: left;
	line-height: 1;
}

.card-btns li + li{
	margin-left: 14px;
}

.card-btns .c-btn{
	width: 154px;
	height: 52px;
	line-height: 50px;
}

/* modifier
-----------------------------------------------------------------*/
.section-jill .card01 .card-fig{
	background-image: url(../images/img_jill01.jpg);
}
.section-jill .card02 .card-fig{
	background-image: url(../images/img_jill02.jpg);
}
.section-jill .card03 .card-fig{
	background-image: url(../images/img_jill03.jpg);
}
.section-jill .card04 .card-fig{
	background-image: url(../images/img_jill04.jpg);
}
.section-jill .card05 .card-fig{
	background-image: url(../images/img_nijill02.jpg);
}

.section-nijill .card01 .card-fig{
	background-image: url(../images/img_nijill01.jpg);
}
/*--------------------------------------------------------------------------
.section-nijill .card02 .card-fig{
	background-image: url(../images/img_nijill02.jpg);
---------------------------------------------------------------------------*/
.section-nijill-fc .card01 .card-fig{
	background-image: url(../images/img_nijill03.jpg);
}
.section-nijill-fc .card02 .card-fig{
	background-image: url(../images/img_nijill04.jpg);
}

.section-jb .card01 .card-fig{
	background-image: url(../images/img_jb01.jpg);
}

.section-shinatora .card01 .card-fig{
	background-image: url(../images/img_shinatora01.jpg);
}
.section-shinatora .card02 .card-fig{
	background-image: url(../images/img_shinatora02.jpg);
}
.section-shinatora .card03 .card-fig{
	background-image: url(../images/img_shinatora03.jpg);
}
.section-shinatora .card04 .card-fig{
	background-image: url(../images/img_shinatora04.jpg);
}

.section-gonzo .card01 .card-fig{
	background-image: url(../images/img_gonzo01.jpg);
}
.section-gonzo .card02 .card-fig{
	background-image: url(../images/img_gonzo02.jpg);
}

.section-rikuu .card01 .card-fig{
	background-image: url(../images/img_rikuu01.jpg);
}
.card-btn-fb .c-btn,
.card-btn-blog .c-btn,
.card-btn-book .c-btn,
.card-btn-hp .c-btn{
	letter-spacing: .14em;
}

.card-btn-fb .c-btn,
.card-btn-blog .c-btn{
	font-size: 15px;
}

.card-btn-book .c-btn,
.card-btn-hp .c-btn{
	font-size: 14px;
	font-weight: bold;
}

/* hover
-----------------------------------------------------------------*/
.modePC .card-map a:hover{
	background-color: #b42919;
}

@media screen and (max-width: 768px){
	.card{
		display: block;
		width: auto;
	}
	.card + .card{
		margin-top: 10px;
	}
	.card-fig{
		display: block;
		width: auto;
	}
	.card-body{
		display: block;
		width: auto;
		padding: 25px 25px 30px;
	}
	.card-list + .card-list{
		margin-top: 5px;
	}
	.card-list .ttl{
		width: 75px;
	}
	.card-map{
		display: block;
		margin: 10px 0;
	}
	.card-map a{
		width: 80px;
		line-height: 25px;
	}
	.card-btns{
		margin-top: 25px;
	}
	.card-btns li{
		float: none;
	}
	.card-btns li + li{
		margin-top: 10px;
		margin-left: 0;
	}
	.card-btns .c-btn{
		width: 100%;
		height: 46px;
		line-height: 44px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.section-jill .card01 .card-fig,
	.section-jill .card02 .card-fig,
	.section-jill .card03 .card-fig,
	.section-jill .card04 .card-fig,
	.section-jill .card05 .card-fig,
	.section-nijill .card01 .card-fig,
	.section-nijill .card02 .card-fig,
	.section-nijill-fc .card01 .card-fig,
	.section-nijill-fc .card02 .card-fig,
	.section-jb .card01 .card-fig,
	.section-shinatora .card01 .card-fig,
	.section-shinatora .card02 .card-fig,
	.section-shinatora .card03 .card-fig,
	.section-gonzo .card01 .card-fig,
	.section-gonzo .card02 .card-fig{
		background-image: none;
	}

	.card-btn-fb .c-btn,
	.card-btn-blog .c-btn,
	.card-btn-book .c-btn,
	.card-btn-hp .c-btn{
		width: 100%;
	}
	.card-btn-fb .c-btn,
	.card-btn-blog .c-btn{
		font-size: 10px;
	}
	.card-btn-book .c-btn,
	.card-btn-hp .c-btn{
		font-size: 11px;
	}
	/* card-btns-full */
	.card-btns-full .card-btn-fb{
		width: 100%;
		padding-right: 0;
	}
	.card-btns-full .card-btn-blog{
		width: 100%;
		padding-left: 0;
	}
	.card-btns-full li + li{
		margin-top: 6px;
	}
}