@charset 'UTF-8';
/**
 *
 *  カンパニー
 *
 */
/*--------------------------------------------------------------------------
 m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	 concept
 ---------------------------------------------------------------------------*/
.concept{
	overflow: hidden;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.concept-cont{
	background: url(../images/bg_concept.png) 50% 50%;
}

.concept-contBg{
	background: url(../images/bg_concept_objects.png) no-repeat 50% 0;
}

.concept-contInner{
	min-height: 764px;
	padding: 70px 0 399px;
	text-align: center;
}

.concept-ttl{
	margin-bottom: 30px;
}

.concept-copy{
	margin-bottom: 20px;
	color: #a2a2a2;
	font-size: 28px;
	font-weight: bold;
}

.concept-txt{
	color: #b0b0b0;
	font-size: 16px;
	font-weight: bold;
	line-height: 2.2;
}

.concept-txt + .concept-txt{
	margin-top: 20px;
}

.concept-fig{
	position: relative;
	height: 470px;
	margin-top: -397px;
}

.concept-fig img{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -845px;
}

@media screen and (max-width: 768px){
	.concept{
		background-size: 100px 100px;
	}
	.concept-cont{
		padding: 0 10px;
		background: url(../images/bg_concept_sp.png) 0 0;
		background-size: 160px 160px;
	}
	.concept-contBg{
		background: none;
	}
	.concept-contInner{
		min-height: 0;
		padding: 45px 0 100%;
	}
	.concept-ttl{
		margin-bottom: 20px;
	}
	.concept-copy{
		margin-bottom: 15px;
		font-size: 17px;
	}
	.concept-txtGroup{
		margin-bottom: 60px;
	}
	.concept-txt{
		font-size: 12px;
		text-align: left;
	}
	.concept-txt + .concept-txt{
		margin-top: 15px;
	}
	.concept-fig{
		height: auto;
		margin: -100% 10px 0;
	}
	.concept-fig img{
		position: static;
		top: auto;
		left: auto;
		margin-left: auto;
		width: 100%;
		height: auto;
	}
}

/*--------------------------------------------------------------------------
	mission
---------------------------------------------------------------------------*/
.mission{
	padding: 80px 0;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.mission-ttl{
	margin-bottom: 30px;
	text-align: center;
}

.mission-copy{
	margin-bottom: 50px;
	text-align: center;
}

.mission-cards{
	overflow: hidden;
	text-align: center;
	letter-spacing: -.4em;
}

.mission-card{
	display: inline-block;
	width: 258px;
	text-align: center;
	letter-spacing: 0;
}

.mission-card .fig{
	margin-bottom: 25px;
}

.mission-card .ttl{
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}

.mission-card + .mission-card{
	margin-left: 50px;
}

/* animation
-----------------------------------------------------------------*/
.mission-cards.is-tweenInit .mission-card{
	-webkit-transition: all .5s ease-out;
	        transition: all .5s ease-out;
	opacity: 0;
}

.mission-cards.is-tweenInit .mission-card .fig{
	-webkit-transform: rotateY(45deg);
	        transform: rotateY(45deg);
	-webkit-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}

.mission-cards.is-tweenInit .mission-card:nth-child(1){
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

.mission-cards.is-tweenInit .mission-card:nth-child(1) .fig{
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

.mission-cards.is-tweenInit .mission-card:nth-child(2){
	-webkit-transition-delay: .3s;
	        transition-delay: .3s;
}

.mission-cards.is-tweenInit .mission-card:nth-child(2) .fig{
	-webkit-transition-delay: .3s;
	        transition-delay: .3s;
}

.mission-cards.is-tweenInit .mission-card:nth-child(3){
	-webkit-transition-delay: .6s;
	        transition-delay: .6s;
}

.mission-cards.is-tweenInit .mission-card:nth-child(3) .fig{
	-webkit-transition-delay: .6s;
	        transition-delay: .6s;
}

.mission-cards.is-tween .mission-card{
	opacity: 1;
}

.mission-cards.is-tween .mission-card .fig{
	-webkit-transform: rotateY(0deg);
	        transform: rotateY(0deg);
}

@media screen and (max-width: 768px){
	.mission{
		padding: 45px 10px;
		background-size: 100px 100px;
	}
	.mission-ttl{
		margin-bottom: 20px;
	}
	.mission-copy{
		margin-bottom: 25px;
	}
	.mission-cards{
		letter-spacing: normal;
	}
	.mission-card{
		display: block;
		width: auto;
	}
	.mission-card .ttl{
		margin-bottom: 5px;
		font-size: 19px;
	}
	.mission-card .txt{
		font-size: 14px;
	}
	.mission-card + .mission-card{
		margin-top: 40px;
		margin-left: 0;
	}
}

/*--------------------------------------------------------------------------
	vision
---------------------------------------------------------------------------*/
.vision{
	overflow: hidden;
	padding: 80px 0;
	background: url(/shared/images/bg_repeat_dots02.png);
}

.vision-ttl{
	margin-bottom: 30px;
	text-align: center;
}

.vision-copy{
	margin-bottom: 50px;
	text-align: center;
}

.vision-figGroup{
	height: 544px;
	margin-bottom: 50px;
}

.vision-fig{
	text-align: right;
}

.vision-figInner{
	margin-right: -90px;
}

.vision-comment{
	position: relative;
	z-index: 1;
	width: 524px;
	margin-top: -504px;
	background: url(/shared/images/bg_repeat_dots06.png);
}

.vision-commentInner{
	padding: 60px 60px 90px;
	background: url(../images/bg_vision_object.png) no-repeat 100% 100%;
}

.vision-commentTxt{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 2.3;
}

.vision-txtGroup{
	margin-bottom: 50px;
}

.vision-txt + .vision-txt{
	margin-top: 30px;
}

.vision-flow{
	overflow: hidden;
	padding: 40px;
	background: url(/shared/images/bg_repeat_dots07.png);
}

.vision-flowCards{
	float: left;
}

.vision-flowCard{
	display: table;
	position: relative;
	float: left;
	width: 204px;
	height: 192px;
	text-align: center;
}

.vision-flowCard:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 100%;
	z-index: 1;
	width: 10px;
	height: 32px;
	margin-top: -16px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.vision-flowCard .txt{
	display: block;
	padding-top: 60px;
	background-repeat: no-repeat;
	background-position: 50% 0;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: .1em;
}

.vision-flowCard .en{
	display: block;
	color: #7a7a7a;
	font-weight: bold;
}

.vision-flowCardInner{
	display: table-cell;
	vertical-align: middle;
}

.vision-flowTxt{
	float: left;
	display: table;
	width: 396px;
	height: 192px;
	margin-left: 10px;
	background: url(/shared/images/bg_repeat_dots06.png);
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}

.vision-flowTxtInner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* modifier
-----------------------------------------------------------------*/
.vision-flowCard-cs{
	background: url(/shared/images/bg_repeat_dots03.png);
}

.vision-flowCard-cs:after{
	background-image: url(../images/bg_vision_tip_cs.png);
}

.vision-flowCard-cs .txt{
	background-image: url(../images/ico_vision_cs.png);
}

.vision-flowCard-es{
	background: url(/shared/images/bg_repeat_dots04.png);
}

.vision-flowCard-es:after{
	background-image: url(../images/bg_vision_tip_es.png);
}

.vision-flowCard-es .txt{
	background-image: url(../images/ico_vision_es.png);
}

.vision-flowCard-fs{
	background: url(/shared/images/bg_repeat_dots05.png);
}

.vision-flowCard-fs:after{
	background-image: url(../images/bg_vision_tip_fs.png);
}

.vision-flowCard-fs .txt{
	background-image: url(../images/ico_vision_fs.png);
}

/* animation
-----------------------------------------------------------------*/
.vision-flow.is-tweenInit .vision-flowCard,
.vision-flow.is-tweenInit .vision-flowTxt{
	opacity: 0;
	-webkit-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}

.vision-flow.is-tweenInit .vision-flowCard-cs{
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
	z-index: 3;
}

.vision-flow.is-tweenInit .vision-flowCard-es{
	-webkit-transform: translateX(-50px);
	        transform: translateX(-50px);
	-webkit-transition-delay: .2s;
	        transition-delay: .2s;
	z-index: 2;
}

.vision-flow.is-tweenInit .vision-flowCard-fs{
	-webkit-transform: translateX(-50px);
	        transform: translateX(-50px);
	-webkit-transition-delay: .4s;
	        transition-delay: .4s;
	z-index: 1;
}

.vision-flow.is-tweenInit .vision-flowTxt{
	-webkit-transition-delay: .8s;
	        transition-delay: .8s;
	-webkit-transition-duration: 1s;
	        transition-duration: 1s;
}

.vision-flow.is-tween .vision-flowCard,
.vision-flow.is-tween .vision-flowTxt{
	opacity: 1;
}

.vision-flow.is-tween .vision-flowCard-es{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

.vision-flow.is-tween .vision-flowCard-fs{
	-webkit-transform: translateX(0);
	        transform: translateX(0);
}

@media screen and (max-width: 768px){
	.vision{
		padding: 45px 0;
		background-size: 100px 100px;
	}
	.vision-ttl{
		margin-bottom: 20px;
	}
	.vision-copy{
		margin-bottom: 25px;
		padding: 0 10px;
	}
	.vision-figGroup{
		height: auto;
		margin-bottom: 30px;
	}
	.vision-fig{
		text-align: left;
	}
	.vision-figInner{
		margin-right: 0;
	}
	.vision-figInner img{
		width: 100%;
		height: auto;
	}
	.vision-comment{
		width: auto;
		margin: -30px 10px 0;
		background-size: 100px 100px;
	}
	.vision-commentInner{
		padding: 30px 25px 40px;
		background-size: 111px 91px;
	}
	.vision-commentTxt{
		font-size: 11px;
	}
	.vision-txtGroup{
		margin: 0 10px 30px;
	}
	.vision-txt + .vision-txt{
		margin-top: 15px;
	}
	.vision-flow{
		padding: 0 10px;
		background: none;
	}
	.vision-flowCards{
		display: table;
		table-layout: fixed;
		width: 100%;
		float: none;
	}
	.vision-flowCard{
		display: table-cell;
		float: none;
		width: auto;
		height: auto;
		padding: 35px 0 30px;
		vertical-align: middle;
	}
	.vision-flowCard:after{
		top: 100%;
		left: 50%;
		width: 17px;
		height: 6px;
		margin-top: 0;
		margin-left: -8px;
	}
	.vision-flowCard .txt{
		padding-top: 35px;
		font-size: 10px;
		background-size: 24px 24px;
	}
	.vision-flowCard .en{
		margin-top: 5px;
		font-size: 8px;
	}
	.vision-flowCardInner{
		display: block;
		vertical-align: top;
	}
	.vision-flowTxt{
		float: none;
		width: 100%;
		height: auto;
		margin-left: 0;
		padding: 20px 0;
		background-size: 100px 100px;
		font-size: 11px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.vision-flowCard-cs{
		background-size: 100px 100px;
	}
	.vision-flowCard-cs:after{
		background-image: url(../images/bg_vision_tip_cs_sp.png);
		background-size: 17px 6px;
	}
	.vision-flowCard-cs .txt{
		background-image: url(../images/ico_vision_cs_sp.png);
	}
	.vision-flowCard-es{
		background-size: 100px 100px;
	}
	.vision-flowCard-es:after{
		background-image: url(../images/bg_vision_tip_es_sp.png);
		background-size: 17px 6px;
	}
	.vision-flowCard-es .txt{
		background-image: url(../images/ico_vision_es_sp.png);
	}
	.vision-flowCard-fs{
		background-size: 100px 100px;
	}
	.vision-flowCard-fs:after{
		background-image: url(../images/bg_vision_tip_fs_sp.png);
		background-size: 17px 6px;
	}
	.vision-flowCard-fs .txt{
		background-image: url(../images/ico_vision_fs_sp.png);
	}
}

/*--------------------------------------------------------------------------
	project
---------------------------------------------------------------------------*/
.project{
	overflow: hidden;
	padding: 80px 0;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.project-inner{
	max-width: 1284px;
	min-width: 1100px;
	margin: auto;
}

.project-ttl{
	margin-bottom: 30px;
	text-align: center;
}

.project-copy{
	margin-bottom: 50px;
	text-align: center;
}

.project-secs{
	overflow: hidden;
}

.project-sec{
	float: left;
	width: 50%;
	height: 385px;
	padding: 60px 7% 0;
}

.project-secInner{
	height: 100%;
}

.project-secTtl{
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}

.project-secTxt{
	margin-bottom: 30px;
	color: #fff;
	line-height: 2;
	letter-spacing: .06em;
}

.project-secFig{
	text-align: center;
}

.project-secBtn{
	text-align: center;
}

/* modifier
-----------------------------------------------------------------*/
.project-sec01{
	background: url(/shared/images/bg_repeat_dots03.png);
}

.project-sec02{
	background: url(/shared/images/bg_repeat_dots04.png);
}

.project-sec02 .project-secInner{
	background: url(../images/bg_project01.png) no-repeat 50% 50%;
}

.project-sec02 .c-btn{
	width: 250px;
	line-height: 52px;
}

@media screen and (max-width: 768px){
	.project{
		padding: 45px 10px;
		background-size: 100px 100px;
	}
	.project-inner{
		max-width: none;
		min-width: 0;
		margin: auto;
	}
	.project-ttl{
		margin-bottom: 20px;
	}
	.project-copy{
		margin-bottom: 25px;
	}
	.project-secs{
		overflow: hidden;
	}
	.project-sec{
		float: none;
		width: auto;
		height: auto;
		padding: 30px;
	}
	.project-secInner{
		height: auto;
	}
	.project-secTtl{
		margin-bottom: 15px;
		font-size: 13px;
	}
	.project-secTxt{
		margin-bottom: 20px;
		letter-spacing: normal;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.project-sec01{
		background-size: 100px 100px;
	}
	.project-sec02{
		background-size: 100px 100px;
	}
	.project-sec02 .project-secInner{
		background-image: url(../images/bg_project01_sp.png);
		background-size: 208px auto;
	}
	.project-sec02 .c-btn{
		width: 190px;
		height: 48px;
		line-height: 46px;
		font-size: 10px;
		letter-spacing: normal;
	}
}

/*--------------------------------------------------------------------------
	company
---------------------------------------------------------------------------*/
.company{
	padding-bottom: 80px;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.company-ttl{
	margin-bottom: 50px;
	text-align: center;
}

.company-listWrap{
	overflow: hidden;
}

.company-lists{
	float: left;
	border-top: 1px solid #ddd;
}

.company-lists + .company-lists{
	margin-left: 40px;
}

.company-list{
	display: table;
	width: 530px;
	padding: 25px 30px;
	border-bottom: 1px solid #ddd;
}

.company-listTtl{
	display: table-cell;
	width: 140px;
	font-weight: bold;
	vertical-align: top;
	text-align: left;
}

.company-listTxt{
	display: table-cell;
	vertical-align: top;
	text-align: left;
}

@media screen and (max-width: 768px){
	.company{
		padding: 0 10px 45px;
		background-size: 100px 100px;
	}
	.company-ttl{
		margin-bottom: 25px;
	}
	.company-lists{
		float: none;
		border-top: none;
	}
	.company-lists + .company-lists{
		margin-left: 0;
	}
	.company-listWrap{
		border-top: 1px solid #ddd;
	}
	.company-list{
		width: 100%;
		padding: 15px;
	}
	.company-listTtl{
		width: 80px;
	}
}

/*--------------------------------------------------------------------------
	map
---------------------------------------------------------------------------*/
.map{
	width: 100%;
	height: 380px;
}

@media screen and (max-width: 768px){
	.map{
		height: 210px;
	}
}