@charset 'UTF-8';
/**
 *
 *  ジリオンニュース
 *
 */
/*--------------------------------------------------------------------------
 m-pageHeader
---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
 m-frame-body
---------------------------------------------------------------------------*/
.m-frame-body{
	padding: 60px 40px;
}

@media screen and (max-width: 768px){
	.m-frame-body{
		padding: 30px 20px;
	}
}

/*--------------------------------------------------------------------------
 newsList
---------------------------------------------------------------------------*/
.newsList{
	border-bottom: 1px solid #e3d7c3;
}

.newsList:first-child{
	border-top: 1px solid #e3d7c3;
}

.newsList{
	display: table;
	width: 100%;
	padding: 25px 10px;
	text-decoration: none;
	-webkit-transition: background-color .2s ease;
	        transition: background-color .2s ease;
}

.newsList-col{
	display: table-cell;
	vertical-align: top;
}

.newsList-date{
	margin-right: 30px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	line-height: 25px;
}

.newsList-tag{
	margin-right: 10px;
}

.newsList-ttl{
	color: #000;
	font-size: 14px;
	font-weight: normal;
}

/* modifier
-----------------------------------------------------------------*/
.newsList-colDate{
	width: 50px;
	white-space: nowrap;
}

.newsList-colTag{
	width: 50px;
	white-space: nowrap;
}

.newsList-colTtl{
	max-width: 1px;
}

@media screen and (max-width: 768px){
	.newsList{
		display: block;
		width: auto;
	}
	.newsList{
		display: block;
		padding: 20px 5px;
	}
	.newsList-col{
		display: block;
	}
	.newsList-date{
		margin-right: 8px;
		font-size: 10px;
	}
	.newsList-tag{
		margin-right: 0;
	}
	.newsList-ttl{
		margin-top: 10px;
		font-size: 12px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.newsList-colDate{
		display: inline-block;
		width: auto;
		white-space: normal;
		line-height: 1;
		vertical-align: middle;
	}
	.newsList-colTag{
		display: inline-block;
		width: auto;
		white-space: normal;
		line-height: 1;
		vertical-align: middle;
	}
	.newsList-colTtl{
		max-width: none;
	}
}

/*--------------------------------------------------------------------------
 m-pager
---------------------------------------------------------------------------*/
.m-pager{
	margin-top: 60px;
}

@media screen and (max-width: 768px){
	.m-pager{
		margin-top: 35px;
	}
}