@charset 'UTF-8';
/**
 *
 *  確認ページ
 *
 */
/*--------------------------------------------------------------------------
	 contactSubmit
---------------------------------------------------------------------------*/
.contactSubmit{
	margin-top: 60px;
}

@media screen and (max-width: 768px){
	.contactSubmit{
		margin-top: 30px;
	}
}