@charset 'UTF-8';
/**
 *
 *  インデックスページ
 *
 */
/*--------------------------------------------------------------------------
	 entry
---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------
	 contactFormList
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.contactFormList-type .c-radio + .c-radio{
	margin-left: 40px;
}

.contactFormList-name .c-input,
.contactFormList-tel .c-input{
	width: 330px;
}
.m-formList-cont .link{
	text-align:right;
}
@media screen and (max-width: 768px){
	.contactFormList-type .c-radio{
		display: block;
	}
	.contactFormList-type .c-radio + .c-radio{
		margin-top: 20px;
		margin-left: 0;
	}
	.contactFormList-name .c-input,
	.contactFormList-tel .c-input{
		width: 100%;
	}
}