@charset 'UTF-8';
/**
 *
 *  トップ
 *
 */
/*--------------------------------------------------------------------------
	 global
 ---------------------------------------------------------------------------*/
#Page{
	background: none;
}

#Content{
	overflow: hidden;
}

/*--------------------------------------------------------------------------
 bgVideo
---------------------------------------------------------------------------*/
.bgVideo{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bgVideo-video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bgVideo-cover{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: #000;
}

.bgVideo-overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .01);
}

@media screen and (max-width: 768px){
	.bgVideo{
		display: none;
	}
}

/*--------------------------------------------------------------------------
	mv
---------------------------------------------------------------------------*/
.mv{
	display: table;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100vh;
}

@media screen and (max-width: 768px){
	.mv{
		overflow: hidden;
		background: url(../images/img_mv_sp.jpg) no-repeat;
		background-size: cover;
	}
}

/* mvCont
-----------------------------------------------------------------*/
.mvCont{
	display: table-cell;
	position: relative;
	vertical-align: middle;
	text-align: center;
}

/* mvTtl
-----------------------------------------------------------------*/
.mvTtl{
	color: #fff;
	font-size: 68px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	letter-spacing: .08em;
	line-height: 1.9;
}

.ie .mvTtl{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

.mvTtl-letter{
	display: inline-block;
	position: relative;
	overflow: hidden;
	line-height: 1;
}

.mvTtl-default{
	display: inline-block;
	position: relative;
	z-index: 0;
	opacity: 0;
	line-height: 1;
}

.mvTtl-cover{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: rgba(255, 255, 255, .9);
	line-height: 1;
}

.mvTtl-bg{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(255, 255, 255, .8);
	line-height: 1;
}

/* ie9
-----------------------------------------------------------------*/
.lt-ie9 .mvTtl-bg{
	display: none;
}

@media screen and (max-width: 768px){
	.mvTtl{
		font-size: 16px;
		font-size: 5vw;
	}
}

/* mvScroll
-----------------------------------------------------------------*/
.mvScroll{
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -42px;
}

@media screen and (max-width: 768px){
	.mvScroll{
		bottom: 27.81vw;
		margin-left: -21px;
	}
	.mvScroll img{
		width: 42px;
		height: auto;
	}
}

/* mvBanner
-----------------------------------------------------------------*/
.mvBanner{
	position: absolute;
	right: 30px;
	bottom: 30px;
}

.mvBanner a{
	display: block;
	width: 220px;
	height: 220px;
	text-decoration: none;
	color: #fff;
}

.mvBanner-bg{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background: #9e2416;
}

.mvBanner-circle{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -104px 0 0 -104px;
}

.mvBanner-circleBase{
	stroke: #9e2416;
	fill: none;
	stroke-width: 1;
}

.mvBanner-circleAnimation{
	stroke: #fff;
	fill: none;
	stroke-width: 1;
	stroke-dasharray: 1000;
	stroke-dashoffset: 0;
}

.mvBanner-ttl{
	position: relative;
	z-index: 1;
	padding-top: 50px;
	line-height: 1;
	text-align: center;
	background: url(../images/ttl_mv_banner_on.png) no-repeat 50% 100%;
}

.mvBanner-txt{
	position: relative;
	z-index: 1;
	margin-top: 15px;
	text-align: center;
	line-height: 1;
	background: url(../images/txt_mv_banner_on.png) no-repeat 50% 0;
}

.mvBanner-arrow{
	position: absolute;
	bottom: 18px;
	left: 50%;
	overflow: hidden;
	width: 36px;
	height: 36px;
	margin-left: -18px;
	border-radius: 18px;
	background: #fff;
}

.mvBanner-arrow:before,
.mvBanner-arrow:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 8px;
	height: 12px;
	margin: -6px 0 0 -4px;
	background: url(../images/ico_arrow_mv_banner.png) no-repeat;
}

.mvBanner-arrow:before{
	opacity: 0;
	-webkit-transform: translateX(-50px);
					transform: translateX(-50px);
}

.mvBanner-arrow:after{
	opacity: 1;
	-webkit-transform: trnslateX(0);
					transform: trnslateX(0);
}

/* ie9
-----------------------------------------------------------------*/
.lt-ie9 .mvTtl-bg{
	display: none;
}

/* animation
-----------------------------------------------------------------*/
.mvBanner-bg{
	-webkit-transition: background-color .3s .5s ease;
					transition: background-color .3s .5s ease;
}

.mvBanner-circleBase{
	-webkit-transition: opacity .5s ease;
					transition: opacity .5s ease;
}

.mvBanner-circleAnimation{
	-webkit-transition: all 1s ease;
					transition: all 1s ease;
}

.mvBanner-ttl img{
	-webkit-transition: opacity 0s .5s ease;
					transition: opacity 0s .5s ease;
}

.mvBanner-txt img{
	-webkit-transition: opacity 0s .5s ease;
					transition: opacity 0s .5s ease;
}

.mvBanner-arrow:before,
.mvBanner-arrow:after{
	-webkit-transition: all .5s .5s ease;
					transition: all .5s .5s ease;
}

/* hover
-----------------------------------------------------------------*/
.modePC .mvBanner a:hover .mvBanner-bg{
	background: #fff;
}

.modePC .mvBanner a:hover .mvBanner-circleBase{
	opacity: 1;
}

.modePC .mvBanner a:hover .mvBanner-circleAnimation{
	stroke-dashoffset: -1000;
}

.modePC .mvBanner a:hover .mvBanner-ttl img{
	opacity: 0;
}

.modePC .mvBanner a:hover .mvBanner-txt img{
	opacity: 0;
}

.modePC .mvBanner a:hover .mvBanner-arrow:before{
	opacity: 1;
	-webkit-transform: translateX(0);
					transform: translateX(0);
}

.modePC .mvBanner a:hover .mvBanner-arrow:after{
	opacity: 0;
	-webkit-transform: translateX(50px);
					transform: translateX(50px);
}

@media screen and (max-width: 768px){
	.mvBanner{
		display: none;
	}
}

/* mvBannerSP
-----------------------------------------------------------------*/
.mvBannerSP{
	display: none;
}

@media screen and (max-width: 768px){
	.mvBannerSP{
		display: block;
		position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
	}
	.mvBannerSP img{
		width: 100%;
		height: auto;
	}
}

/* mvBannerSP
-----------------------------------------------------------------*/
.mvButtonSP{
	display: none;
}

@media screen and (max-width: 768px){
	.mvButtonSP {
		display: block;
		margin: 11px 0 23.44vw;
	}
	.mvButtonSP a{
		display: block;
		margin: auto;
		width: 45px;
	}
	.mvButtonSP img {
		height: auto;
		width: 100%;
	}
	.mvBannerSP img{
		width: 100%;
		height: auto;
	}
}

/*--------------------------------------------------------------------------
	topics  2018/6/26 updateed
---------------------------------------------------------------------------*/
.topics{
	position:relative;
	padding:69px 0 74px;
	text-align:center;
	background:url('../images/bg_topics.jpg')no-repeat 50% 0;
	background-size:cover;
}

@media screen and (max-width: 768px){
	.topics{
		padding:30px 10px;
		background:url('../images/bg_topics_sp.jpg')no-repeat 50% 0;
		background-size:cover;
	}
}


/* topicsTtl
-----------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.topicsTtl{
		width:111px;
		margin:0 auto;
	}
	.topicsTtl img{
		width:100%;
		height:auto;
	}
}
/* topicsTxt
-----------------------------------------------------------------*/
.topicsTxt{
	margin:23px 0 34px;
	font-size:16px;
	font-weight:bold;
}
@media screen and (max-width: 768px){
	.topicsTxt{
		margin:9px 0 15px;
		font-size:12px;
		line-height:2;
	}
}
/* topicsLinks
-----------------------------------------------------------------*/
.topicsLinks{
	font-size:0;
}
.topicsLinks .topicsLink{
	display:inline-block;
	vertical-align:top;
	width:480px;
}
.topicsLinks .topicsLink + .topicsLink{
	margin-left:100px;
}
.topicsLinks .topicsLink a{
	display:block;
	-webkit-transition: opacity .7s ease;
					transition: opacity .7s ease;
}
.topicsLinks .topicsLink a:hover{
	opacity:.6;
}
.topicsLinks .topicsLink a img{
	width:100%;
	height:auto;
}
@media screen and (max-width: 768px){
	.topicsLinks .topicsLink{
		display:block;
		width:100%;
	}
	.topicsLinks .topicsLink + .topicsLink{
		margin:15px 0 0;
	}
	.topicsLinks .topicsLink a:hover{
		opacity:1;
	}
}

/*--------------------------------------------------------------------------
	company
---------------------------------------------------------------------------*/
.company{
	position: relative;
	padding: 90px 0 80px;
	background: url(../images/bg_company_repeat.png) 50% 50%;
	text-align: center;
}

@media screen and (max-width: 768px){
	.company{
		padding: 40px 0;
	}
}

/* companyCont
-----------------------------------------------------------------*/
.companyCont{
	position: relative;
	z-index: 1;
}

/* companyTtl
-----------------------------------------------------------------*/
.companyTtl{
	margin-bottom: 50px;
}

@media screen and (max-width: 768px){
	.companyTtl{
		margin-bottom: 30px;
	}
}

/* companyTxt
-----------------------------------------------------------------*/
.companyTxt{
	margin-bottom: 60px;
	color: #b0b0b0;
	font-size: 16px;
	line-height: 2.8;
	letter-spacing: .12em;
}

@media screen and (max-width: 768px){
	.companyTxt{
		margin-bottom: 30px;
		font-size: 12px;
		line-height: 2.5;
	}
}

/* companyBtn
-----------------------------------------------------------------*/
.companyBtn .c-btn{
	width: 380px;
	height: 95px;
	line-height: 93px;
	font-size: 15px;
}

@media screen and (max-width: 768px){
	.companyBtn .c-btn{
		width: 190px;
		height: 48px;
		line-height: 46px;
		font-size: 10px;
	}
}

/* companyBg
-----------------------------------------------------------------*/
.companyBg{
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	width: 100%;
	height: 100%;
	background: url(../images/bg_company.png) no-repeat 50% 0;
}

@media screen and (max-width: 768px){
	.companyBg{
		background-image: url(../images/bg_company_sp.png);
		background-size: 320px 470px;
	}
}

/* companyCont
-----------------------------------------------------------------*/
.companyBgHover{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background: url(../images/bg_company_on.png) no-repeat 50% 0;
	-webkit-transition: all .7s ease;
					transition: all .7s ease;
}

/* modifier
-----------------------------------------------------------------*/
.company.is-hover .companyBgHover{
	opacity: .1;
}

@media screen and (max-width: 768px){
	.companyBgHover{
		display: none;
	}
}

/*--------------------------------------------------------------------------
	shop
---------------------------------------------------------------------------*/
.shopItem{
	position: relative;
	overflow: hidden;
}

.shopItem > a{
	text-decoration: none;
}

.shopItem-fig{
	position: relative;
	width: 60%;
	height: 430px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.shopItem-fig img{
	display: none;
}

.shopItem-cont{
	display: table;
	position: relative;
	z-index: 2;
	width: 40%;
	height: 430px;
	padding: 70px 5% 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.shopItem-contInner{
	display: table-cell;
	vertical-align: top;
}

/* PCのみ。SPではdisplay: none */
.shopItem-bg{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 40%;
	height: 100%;
	background: url(/shared/images/bg_repeat_dots01.png);
}

.shopItem-bg:after{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -16px;
	border: 16px solid transparent;
}

/* PCのみ。SPではdisplay: none */
.shopItem-logo{
	position: absolute;
	top: 0;
	z-index: 1;
	width: 40%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.shopItem-hoverFig{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.shopItem-ttl{
	position: relative;
	margin-bottom: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.shopItem-shopName{
	margin-bottom: 30px;
	font-weight: bold;
	color: #727272;
}

.shopItem-txt{
	max-width: 580px;
	font-weight: bold;
	color: #000;
	letter-spacing: .05em;
}

.shopItem-link{
	position: absolute;
	right: 38px;
	bottom: 30px;
	background: url(../images/ico_arrow01_on.png) no-repeat 0 0;
}

/* modifier
-----------------------------------------------------------------*/
.shopItem-type01 .shopItem-fig{
	float: left;
}

.shopItem-type01 .shopItem-bg{
	right: 0;
}

.shopItem-type01 .shopItem-bg:after{
	right: 100%;
	border-right-color: #fff;
}

.shopItem-type01 .shopItem-logo{
	right: 0;
}

.shopItem-type02 .shopItem-fig{
	float: right;
}

.shopItem-type02 .shopItem-bg{
	left: 0;
}

.shopItem-type02 .shopItem-bg:after{
	left: 100%;
	border-left-color: #fff;
}

.shopItem-type02 .shopItem-logo{
	left: 0;
}

.shopItem-jill .shopItem-fig{
	background-image: url(../images/img_shop_jill.jpg);
}

.shopItem-jill .shopItem-logo{
	background-image: url(../images/bg_shop_jill.png);
}

.shopItem-jill .shopItem-hoverFig{
	background-image: url(../images/bg_shop_jill_on.jpg);
}

.shopItem-jill .shopItem-ttl{
	background-image: url(../images/ttl_shop_jill_on.png);
}

.shopItem-nijill .shopItem-fig{
	background-image: url(../images/img_shop_nijill.jpg);
}

.shopItem-nijill .shopItem-logo{
	background-image: url(../images/bg_shop_nijill.png);
}

.shopItem-nijill .shopItem-hoverFig{
	background-image: url(../images/bg_shop_nijill_on.jpg);
}

.shopItem-nijill .shopItem-ttl{
	background-image: url(../images/ttl_shop_nijill_on.png);
}

.shopItem-jb .shopItem-fig{
	background-image: url(../images/img_shop_jb.jpg);
}

.shopItem-jb .shopItem-logo{
	background-image: url(../images/bg_shop_jb.png);
}

.shopItem-jb .shopItem-hoverFig{
	background-image: url(../images/bg_shop_jb_on.jpg);
}

.shopItem-jb .shopItem-ttl{
	background-image: url(../images/ttl_shop_jb_on.png);
}

.shopItem-shinatora .shopItem-fig{
	background-image: url(../images/img_shop_shinatora.jpg);
}

.shopItem-shinatora .shopItem-logo{
	background-image: url(../images/bg_shop_shinatora.png);
}

.shopItem-shinatora .shopItem-hoverFig{
	background-image: url(../images/bg_shop_shinatora_on.jpg);
}

.shopItem-shinatora .shopItem-ttl{
	background-image: url(../images/ttl_shop_shinatora_on.png);
	background-size: auto 100%;
}

.shopItem-gonzo .shopItem-fig{
	background-image: url(../images/img_shop_gonzo.jpg);
}

.shopItem-gonzo .shopItem-logo{
	background-image: url(../images/bg_shop_gonzo.png);
}

.shopItem-gonzo .shopItem-hoverFig{
	background-image: url(../images/bg_shop_gonzo_on.jpg);
}

.shopItem-gonzo .shopItem-ttl{
	background-image: url(../images/ttl_shop_gonzo_on.png);
	background-size: auto 100%;
}

.shopItem-rikuu .shopItem-fig{
	background-image: url(../images/img_shop_rikuu.jpg);
}

.shopItem-rikuu .shopItem-logo{
	background-image: url(../images/bg_shop_rikuu.png);
}

.shopItem-rikuu .shopItem-hoverFig{
	background-image: url(../images/bg_shop_rikuu_on.jpg);
}

.shopItem-rikuu .shopItem-ttl{
	background-image: url(../images/ttl_shop_rikuu_on.png);
	background-size: auto 100%;
}

/* animation
-----------------------------------------------------------------*/
.shopItem-bg{
	-webkit-transition: all .7s cubic-bezier(.165, .84, .44, 1);
					transition: all .7s cubic-bezier(.165, .84, .44, 1);
	-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
}

.shopItem-logo{
	-webkit-transition: all 3s cubic-bezier(.165, .84, .44, 1);
					transition: all 3s cubic-bezier(.165, .84, .44, 1);
	-webkit-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
}

.shopItem-hoverFig{
	-webkit-transition: opacity 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 3s .3s ease-out;
					transition: opacity 1s cubic-bezier(.165, .84, .44, 1), transform 3s .3s ease-out;
}

.shopItem-ttl img{
	-webkit-transition: opacity .8s cubic-bezier(.165, .84, .44, 1);
					transition: opacity .8s cubic-bezier(.165, .84, .44, 1);
}

.shopItem-shopName{
	-webkit-transition: color .8s cubic-bezier(.165, .84, .44, 1);
					transition: color .8s cubic-bezier(.165, .84, .44, 1);
}

.shopItem-txt{
	-webkit-transition: color .8s cubic-bezier(.165, .84, .44, 1);
					transition: color .8s cubic-bezier(.165, .84, .44, 1);
}

.shopItem-link{
	-webkit-transition: all .5s .6s cubic-bezier(.165, .84, .44, 1);
					transition: all .5s .6s cubic-bezier(.165, .84, .44, 1);
}

.shopItem-link img{
	-webkit-transition: all .8s cubic-bezier(.165, .84, .44, 1);
					transition: all .8s cubic-bezier(.165, .84, .44, 1);
}

/* hover
-----------------------------------------------------------------*/
.modePC .shopItem > a:hover .shopItem-bg{
	width: 100%;
}

.modePC .shopItem > a:hover .shopItem-logo{
	display: none;
}

.modePC .shopItem > a:hover .shopItem-shopName,
.modePC .shopItem > a:hover .shopItem-txt{
	color: #fff;
}

.modePC .shopItem > a:hover .shopItem-hoverFig{
	opacity: 1;
	-webkit-transform: scale(1.03);
					transform: scale(1.03);
}

.modePC .shopItem > a:hover .shopItem-ttl img{
	opacity: 0;
}

.modePC .shopItem > a:hover .shopItem-link img{
	opacity: 0;
}

@media screen and (max-width: 768px){
	.shopItem{
		background: url(/shared/images/bg_repeat_dots01.png);
		background-size: 100px 100px;
	}
	.shopItem-fig{
		width: auto;
		height: auto;
		background: none;
	}
	.shopItem-fig img{
		display: block;
		width: 100%;
		height: auto;
	}
	.shopItem-cont{
		display: block;
		position: relative;
		width: auto;
		height: auto;
		padding: 20px 10px 40px;
	}
	.shopItem-cont:after{
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		bottom: 100%;
		width: 0;
		height: 0;
		margin-left: -7px;
		border: 7px solid transparent;
		border-bottom-color: #fff;
	}
	.shopItem-contInner{
		display: block;
	}
	.shopItem-bg{
		display: none;
	}
	.shopItem-logo{
		display: none;
	}
	.shopItem-hoverFig{
		display: none;
	}
	.shopItem-ttl{
		margin-bottom: 10px;
		background: none;
	}
	.shopItem-shopName{
		margin-bottom: 20px;
		font-size: 10px;
	}
	.shopItem-txt{
		max-width: none;
		font-size: 11px;
		letter-spacing: normal;
	}
	.shopItem-link{
		position: static;
		right: auto;
		bottom: auto;
		margin-top: 10px;
		background: none;
		text-align: right;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.shopItem-type01 .shopItem-fig,
	.shopItem-type02 .shopItem-fig{
		float: none;
	}
	.shopItem-jill .shopItem-cont{
		background-image: url(../images/bg_shop_jill_sp.png);
		background-size: 145px auto;
	}
	.shopItem-nijill .shopItem-cont{
		background-image: url(../images/bg_shop_nijill_sp.png);
		background-size: 127px auto;
	}
	.shopItem-jb .shopItem-cont{
		background-image: url(../images/bg_shop_jb_sp.png);
		background-size: 157px auto;
	}
	.shopItem-shinatora .shopItem-cont{
		background-image: url(../images/bg_shop_shinatora_sp.png);
		background-size: 138px auto;
	}
	.shopItem-gonzo .shopItem-cont{
		background-image: url(../images/bg_shop_gonzo_sp.png);
		background-size: 176px auto;
	}
	.shopItem-rikuu .shopItem-cont{
		background-image: url(../images/bg_shop_rikuu_sp.png);
		background-size: 220px auto;
	}
	.shopItem-jill .shopItem-ttl,
	.shopItem-nijill .shopItem-ttl,
	.shopItem-jb .shopItem-ttl,
	.shopItem-shinatora .shopItem-ttl,
	.shopItem-gonzo .shopItem-ttl,
	.shopItem-rikuu .shopItem-ttl {
	background-image: none;
	}
	.shopItem-jill .shopItem-ttl img{
		width: auto;
		height: 28px;
	}
	.shopItem-nijill .shopItem-ttl img{
		width: auto;
		height: 30px;
	}
	.shopItem-jb .shopItem-ttl img{
		width: auto;
		height: 38px;
	}
	.shopItem-shinatora .shopItem-ttl img{
		width: auto;
		height: 33px;
	}
	.shopItem-gonzo .shopItem-ttl img{
		width: auto;
		height: 45px;
	}
}

/*--------------------------------------------------------------------------
	info
---------------------------------------------------------------------------*/
.info{
	position: relative;
	background: #e1d7be;
}

.info-inner{
	position: relative;
	width: auto;
	max-width: 1520px;
	min-width: 1100px;
	margin: auto;
	padding: 0 10px;
}

.info-inner:before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: #cec2a2;
}

/* infoSection
-----------------------------------------------------------------*/
.infoSection{
	float: left;
	width: 50%;
	padding: 50px 0;
}

.infoSection:first-child{
	padding-right: 100px;
}

.infoSection:last-child{
	padding-left: 100px;
}

/* infoTtl
-----------------------------------------------------------------*/
.infoTtl{
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 15px;
	background: url(../images/bg_info_ttl_repeat.png) repeat-x 0 100%;
}

.infoTtl-more{
	position: absolute;
	right: 0;
	bottom: 15px;
	vertical-align: bottom;
	line-height: 9px;
}

.infoTtl-more a{
	display: inline-block;
	position: relative;
	color: #000;
	font-size: 11px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	text-decoration: none;
	letter-spacing: .1em;
}

.infoTtl-more a:before{
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -24px;
	width: 14px;
	height: 1px;
	margin-top: -1px;
	background: #000;
	-webkit-transition: all .2s cubic-bezier(.05, .58, .47, .88);
					transition: all .2s cubic-bezier(.05, .58, .47, .88);
}

.ie .infoTtl-more a{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

/* hover
-----------------------------------------------------------------*/
.modePC .infoTtl-more a:hover:before{
	left: -10%;
	width: 120%;
}

/* infoList
-----------------------------------------------------------------*/
.infoList{
	display: table;
	width: 100%;
}

.infoList + .infoList{
	margin-top: 20px;
}

.infoList-col{
	display: table-cell;
}

.infoList-date{
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
}

.infoList-tag{
	margin-right: 10px;
}

.infoList-ttl{
	display: table;
	table-layout: fixed;
	width: 100%;
	color: #000;
	font-size: 13px;
	font-weight: normal;
}

.infoList-ttlInner{
	display: table-cell;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.infoList-ttlInner a{
	color: #000;
	text-decoration: none;
}

/* hover
-----------------------------------------------------------------*/
.modePC .infoList-ttlInner a:hover{
	text-decoration: underline;
}

/* modifier
-----------------------------------------------------------------*/
.infoList-colDate{
	width: 50px;
	white-space: nowrap;
	vertical-align: middle;
}

.infoList-colTag{
	width: 50px;
	white-space: nowrap;
	vertical-align: middle;
}

.infoList-colTtl{
	max-width: 1px;
	vertical-align: middle;
}

@media screen and (max-width: 768px){
	.info-inner{
		width: auto;
		max-width: none;
		min-width: 0;
		padding: 40px 10px 35px;
	}
	.info-inner:before{
		display: none;
	}
	/* infoSection
	-----------------------------------------------------------------*/
	.infoSection{
		float: none;
		width: auto;
		padding: 0;
	}
	.infoSection:first-child{
		padding-right: 0;
	}
	.infoSection:last-child{
		padding-left: 0;
	}
	.infoSection + .infoSection{
		margin-top: 35px;
	}
	/* infoTtl
	-----------------------------------------------------------------*/
	.infoTtl{
		margin-bottom: 13px;
		padding-bottom: 5px;
	}
	.infoTtl-more{
		bottom: 10px;
		line-height: 7px;
	}
	.infoTtl-more a:before{
		left: -20px;
	}
	/* infoList
	-----------------------------------------------------------------*/
	.infoList{
		display: block;
		width: auto;
	}
	.infoList + .infoList{
		margin-top: 15px;
	}
	.infoList-col{
		display: block;
	}
	.infoList-date{
		margin-right: 8px;
		font-size: 10px;
	}
	.infoList-tag{
		margin-right: 0;
	}
	.infoList-ttl{
		display: block;
		table-layout: auto;
		width: auto;
		font-size: 12px;
	}
	.infoList-ttlInner{
		display: block;
		white-space: normal;
		text-overflow: clip;
	}
	.infoList-ttlInner a{
		text-decoration: underline;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.infoList-colDate{
		display: inline-block;
		width: auto;
		white-space: normal;
		line-height: 1;
	}
	.infoList-colTag{
		display: inline-block;
		width: auto;
		white-space: normal;
		line-height: 1;
	}
	.infoList-colTtl{
		max-width: none;
		margin-top: 5px;
	}
}

/*--------------------------------------------------------------------------
	.m-footLink-staff
---------------------------------------------------------------------------*/
.m-footLink-staff{
	background-image: url(../images/bg_staff.jpg);
}

@media screen and (max-width: 768px){
	.m-footLink-staff{
		background-image: url(../images/bg_staff_sp.jpg);
	}
}