@import url(http://fonts.googleapis.com/css?family=Croissant+One);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
overflow-x: hidden;
overflow-y: auto;
}

body {
	font-size: 14px;
	line-height: 1.6;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #fff;
	background: #000;
	-webkit-text-size-adjust: 100%;
}
		
h1 {
	font-size: 142%;
}
h2 {
	font-size: 116%;
	margin-top: 2em;
}

h3 {
	font-weight: bold;
	text-align: left;
	font-size: 128%;
	margin-top: 1.5em;
}
h2+h3 {
	margin-top: 0;
}
p {
	margin: 1em 0;
}
.box-bg p:last-child {
  margin-bottom: 0;
}
a:link {
	color: #fff;
	font-weight: bold;
}
a:visited 			{
	color: #fff;
}
a:hover,a:focus 	{
	color: #a00e15;
}
a:active 			{}
#page, #contents {
	width: 978px;
	margin: 0 auto;
	position: relative;
}
#contents {
	z-index: 10;
	position: relative;
}
#wide-container {
	width: 1438px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin-left: -231px;
	/* background: url(../images/bg_container2.jpg) no-repeat center top; */
	position: relative;
	overflow: hidden;
	height: 100%;
}
#bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#main {
  width: 518px;
  padding: 20px;
  float: left;
  background: url(../images/bg_main.png) no-repeat left top;
  min-height: 915px;
}
#sidebar {
  float: left;
  width: 390px;
  margin-left: 30px;
}
#sidebar h3 {
  margin-top: 3em;
}
#logo {
  text-align: center;
  margin: 0 auto 2em auto;
}
#copyright {
  width: 518px;
  clear: both;
  text-align: center;
  font-size: 12px;
  padding-bottom: 2em;
  color: #ccc;
}
.box {
  padding: 0 20px;
}

/* -------------------------------------------------------------- */
/* ! Nav */

#main-nav {
  margin: 60px 0 18px -8px;
}
#main-nav li {
  margin-top: 9px;
}
#main-nav li a {
  width: 390px;
  height: 43px;
  display: block;
  background: url(../images/bg_nav.png) no-repeat;
  overflow: hidden;
  text-indent: -9999em;
}
#main-nav li#m01 a {
  background-position: 0 0;
}
#main-nav li#m02 a {
  background-position: 0 -43px;
}
#main-nav li#m03 a {
  background-position: 0 -86px;
}
#main-nav li#m04 a {
  background-position: 0 -129px;
}
#main-nav li#m01 a:hover {
  background-position: -390px 0;
}
#main-nav li#m02 a:hover {
  background-position: -390px -43px;
}
#main-nav li#m03 a:hover {
  background-position: -390px -86px;
}
#main-nav li#m04 a:hover {
  background-position: -390px -129px;
}

.inline {
  margin: .8em 0;
}
.inline li {
  display: inline;
}


/* -------------------------------------------------------------- */
/* ! Blog */
.box-bg {
  background: url(../images/bg_paper.png);
  margin: 0 0 1em 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  color: #000;
}
.box-bg a {
  color: #000;
}
.box-bg dl {
  width: 224px;
  margin: .8em 30px 0 0;
  float: left;
}
.box-bg dl.clip-r {
  margin-right: 0;
}
.box-bg dd {
  width: 220px;
  height: 145px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid #8b1012;
}
.box-bg dd a img {
  
  width: 220px;
  height: auto;
}
.box-bg dt {
  margin: .5em 0 0 0;
  padding: 0;
  font-size: 128%;
  line-height: 1.3;
}
.box-bg dt a {
  text-decoration: none;
  color: #000 !important;
}
.date, h4 {
  font-size: 14px;
  font-weight: normal !important;
  font-family: 'Croissant One', cursive, sans-serif;
  color: #8b1012 !important;
}
h4 {
  margin: 2em 0 0 0;
  text-align: right;
}
.box-bg-head {
  position: relative;
}
.blog-list {
  background: url(../images/bg_arrow_black.png) no-repeat left center;
  padding-left: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  color: #000 !important;
}
.box-bg h2:first-child {
  margin: 0;
}

.box-bg ul {
  margin: 1em 0 0 0;
  padding: 0;
  overflow: hidden;
}
.box-bg li {
  margin: 0 10px 10px 0;
  float: left;
  width: 112px;
  height: 112px;
  list-style: none;
  overflow: hidden;
}
.box-bg li img {
  border: 2px solid #8b1012;
  width: 108px;
  height: 108px;
}
.box-bg li.clip-r {
  margin-right: 0;
}

.img-full img, .entry img {
  max-width: 100%;
  height: auto;
}





/* -------------------------------------------------------------- */
/* ! 978Grid */

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
	float: left;
	margin-left: 30px;
	padding-top: 9em;
}
.grid1 {
	width: 54px;
}
.grid2 {
	width: 138px;
}
.grid3 {
	width: 222px;
}
.grid4 {
	width: 306px;
}
.grid5 {
	width: 390px;
}
.grid6 {
	width: 474px;
}
.grid7 {
	width: 558px;
}
.grid8 {
	width: 642px;
}
.grid9 {
	width: 726px;
}
.grid10 {
	width: 810px;
}
.grid11 {
	width: 894px;
}
.grid12 {
	width: 978px;
	margin-left: 0;
	clear: left;
}
.first {
	margin-left: 0;
	clear: left;
}

.head {
	width: 978px;
	margin-left: 0;
	clear: left;
}



/*
dl {
}
dt {
	float: left;
	font-weight: bold;
	margin-top: .5em;
	min-width: 200px;
}
dt span {
	font-weight: normal;
}
dd {
	text-align: left;
	float: left;
	font-size: 11px;
	width: 86%;
}
dd.price {
	float: none;
	text-align: right;
	white-space: nowrap;
	font-size: 14px;
	padding-top: .5em;
	width: auto;
}
dd.price:after {
	content:"";
	display:block;
	clear:both;
}
*/

#about {
	margin: 2em auto 3em auto;
	width: 100%;
	border: 1px solid #efefef;
	border-collapse: collapse;
}
#about th {
	border: 1px solid #efefef;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
	padding: .5em 3em .5em .5em;
	vertical-align: top;
}
#about td {
	border: 1px solid #efefef;
	padding: .5em;
}

/* -------------------------------------------------------------- */
/* ! Info Table */
.info {
  width: 100%;
  border-top: 1px solid #808080;
  margin-top: .8em;
}

.info th {
  text-align: left;
  vertical-align: top;
  padding: .8em 0;
  width: 20%;
  font-weight: bold;
}
.info td {
  text-align: left;
  vertical-align: top;
  padding: .8em 0;
}
.info tr {
  border-bottom: 1px solid #808080;
}
.box-bg .info {
  border-top: 1px solid #000;
}
.box-bg .info tr {
  border-bottom: 1px solid #000;
}


.nav {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  display: table;
  height: 50px;
  background-color: #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.nav li {
  width: 50%;
  vertical-align: middle;
  list-style: none;
  display: table-cell;
  text-align: center;
}

.nav li a {
  background: url(../images/bg_sp_foot.png) repeat-x;
  display: block;
  height: 50px;
  line-height: 50px;
}
.nav li a img {
  padding-top: 15px;
}

.nav li:first-child a {
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-right: 1px solid #000;
}
.nav li:last-child a {
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  border-left: 1px solid #000;
}


@media only screen and (max-width: 1023px) {

	#page {
	overflow: hidden;
	}
	
}
