@import url(http://fonts.googleapis.com/css?family=Croissant+One);

body {
  background: url(../images/bg_sp_body.jpg) no-repeat center top #000;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

a:link {
	color: #fff;
	font-weight: bold;
	text-decoration: underline;
}
a:visited {
	color: #ccc;
}
a:hover,a:focus {
	
}
a:active {
	
}

#pack, #page {
  width: 600px;
  margin: 0 auto;
}
#logo {
  text-align: center;
  margin: 1em auto;
}
#contents {
  margin: 1.6em 0;
}
p {
  margin: 1em 0;
}
.box-bg p:last-child {
  margin-bottom: 0;
}
h2 {
  margin-top: 2em;
}

.box-bg ul {
  margin: 1em 0 0 0;
  padding: 0;
  overflow: hidden;
}
.box-bg li {
  margin: 0 12px 12px 0;
  float: left;
  width: 123px;
  height: 123px;
  list-style: none;
  border: 4px solid #8b1012;
  overflow: hidden
}
.box-bg li.clip-r {
  margin-right: 0;
}
.box-bg li a img {
  width: 123px;
  height: 123px;
}

/* -------------------------------------------------------------- */
/* ! Menu */

#main-nav, #foot-nav, .nav {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  display: table;
  height: 50px;
}
.nav {
  background-color: #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#main-nav li {
  width: 25%;
  list-style: none;
  display: table-cell;
  text-align: center;
  position: relative;
  
}
#main-nav li ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 10;
}
#main-nav li ul li {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%; 
}

#foot-nav li, .nav li {
  width: 50%;
  vertical-align: middle;
  list-style: none;
  display: table-cell;
  text-align: center;
}
#main-nav li a {
  background: url(../images/bg_sp_nav.png) repeat-x;
  display: block;
  height: 50px;
  line-height: 50px;
  border-right: 2px solid #000;
  
}
#foot-nav li a, .nav li a {
  background: url(../images/bg_sp_foot.png) repeat-x;
  display: block;
  height: 50px;
  line-height: 50px;
}
#main-nav li a img, #foot-nav li a img, .nav li a img {
  padding-top: 15px;
}
#main-nav li:first-child a {
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
}
#main-nav li:last-child a {
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  border-right: none;
}
#main-nav li:last-child ul li a {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  height: 48px;
  line-height: 48px;
  border-top: 2px solid #000;
  text-decoration: none;
  background: none #7a0e12;
}
#foot-nav li:first-child a, .nav li:first-child a {
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  border-right: 1px solid #000;
}
#foot-nav li:last-child a, .nav li:last-child a {
  border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  border-left: 1px solid #000;
}

/* -------------------------------------------------------------- */
/* ! Blog */
.box-bg {
  background: url(../images/bg_paper.png);
  margin: 2em 0 1em 0;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
  color: #000;
}
.box-bg a {
  color: #000;
}
.box-bg dl {
  width: 270px;
  margin: .8em 20px 0 0;
  float: left;
}
.box-bg dl.clip-r {
  margin-right: 0;
}
.box-bg dd {
  width: 262px;
  height: 166px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 4px solid #8b1012;
}
.box-bg dd a img {
  width: 262px;
  height: auto;
}
.box-bg dt {
  margin: .5em 0 0 0;
  padding: 0;
  font-size: 128%;
  line-height: 1.4;
}
.box-bg dt a {
  text-decoration: none;
  color: #000 !important;
}
.date, h4 {
  font-size: 96%;
  font-weight: normal !important;
  font-family: 'Croissant One', cursive, sans-serif;
  color: #8b1012 !important;
}
h4 {
  text-align: right;
  margin: 3em 0 0 0;
}
.box-bg-head {
  position: relative;
}
.blog-list {
  background: url(../images/bg_arrow_black.png) no-repeat left center;
  padding-left: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  color: #000 !important;
}
.box-bg h2:first-child {
  margin: 0;
}
h1 {
  margin: 0;
}
h3 {
  margin: 1.5em 0 0 0;
  font-size: 133%;
}
body.single .entry p {
  font-size: 128%;
}
.entry img, .img-full img {
  max-width: 100%;
  height: auto;
}

/* -------------------------------------------------------------- */
/* ! Info Table */
.info {
  width: 100%;
  border-top: 2px solid #808080;
  margin-top: .8em;
}

.info th {
  text-align: left;
  vertical-align: top;
  padding: .8em 0;
  width: 20%;
  font-weight: bold;
}
.info td {
  text-align: left;
  vertical-align: top;
  padding: .8em 0;
}
.info th, .info td {
  border-bottom: 2px solid #808080;
}
.box-bg .info {
  border-top: 2px solid #000;
}
.box-bg .info th, .box-bg .info td {
  border-bottom: 2px solid #000;
}

#copyright {
  text-align: center;
  font-size: 85%;
}