body {background: #000; text-align: center; color: #666; font-size: 12px; font-family: sans-serif; margin: 0; padding: 0;}
#header {background: url(../images/bg_enter.jpg) repeat-x center top;}
h1 {margin: 30px auto 0 auto;}
table {margin: 0 auto; width: 600px; background: url(../images/border.png) no-repeat center bottom;}
th {width: 300px; vertical-align: middle;}
#jill th { padding-bottom: 30px;}
td {width: 300px; vertical-align: middle; height: 100px;}
.border {background: url(../images/border_short.png) no-repeat center bottom;}
img {border: none; max-width: 100%; height: auto;}
a:hover {filter: alpha(opacity=70); -moz-opacity:0.7; opacity:0.7;}
#copyright {margin: 50px auto 25px auto;}
@media screen and (max-width: 768px){#header {background-image: none;}}