@import url(http://fonts.googleapis.com/css?family=Croissant+One);
body {background: #000; text-align: center; color: #666; font-size: 12px; font-family: sans-serif; margin: 0; padding: 0;}
#header {background: url(../images/bg_enter2.jpg) repeat-x center top; line-height: 1;}
h1 {margin: 30px auto 0 auto;}
table {margin: 0 auto; width: 600px; background: url(../images/border.png) no-repeat center bottom;}
th {width: 300px; vertical-align: middle;}
td {width: 300px; vertical-align: middle; height: 100px;}
.border {background: url(../images/border_short.png) no-repeat center bottom;}
img {border: none; max-width: 100%; height: auto; vertical-align: bottom;}
a:link {cursor: pointer;}
a:hover {filter: alpha(opacity=80); -moz-opacity:0.8; opacity:0.8;}
#copyright {margin: 50px auto 25px auto; font-family: 'Croissant One', cursive, sans-serif;}
@media screen and (max-width: 768px){#header {background-image: none;}}