@charset 'UTF-8';
/**
 *
 *  メニュー共通
 *
 */
/*--------------------------------------------------------------------------
	m-container
---------------------------------------------------------------------------*/
.m-container{
	background: url(/shared/images/bg_repeat_dots01.png);
}

@media screen and (max-width: 768px){
	.m-container{
		background-size: 100px 100px;
	}
}

/*--------------------------------------------------------------------------
	 tabContainer タブのコンテナ要素
---------------------------------------------------------------------------*/
.tabContainer{
	overflow: hidden;
}

/*--------------------------------------------------------------------------
	 tab タブ
---------------------------------------------------------------------------*/
.tab{
	background: #000;
	text-align: center;
}

.tab-lists{
	display: inline-block;
	letter-spacing: -.4em;
}

.tab-lists li{
	display: inline-block;
	position: relative;
	width: 160px;
	letter-spacing: 0;
}

.tab-lists li + li:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 1px;
	height: 16px;
	margin-top: -8px;
	background: #4d4d4d;
}

.tab-lists a{
	display: block;
	color: #fff;
	font-size: 15px;
	font-family: 'MatrixIIOT-ExtraBold','小塚ゴシック Pro','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
	text-decoration: none;
	line-height: 60px;
	letter-spacing: .14em;
	-webkit-transition: color .2s ease;
	        transition: color .2s ease;
}

.ie .tab-lists a{
	font-family: 'MatrixIIOT-ExtraBold','游ゴシック',YuGothic,'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ Ｐゴシック','MS PGothic',Sans-Serif;
}

/* hover
-----------------------------------------------------------------*/
.modePC .tab-lists a:hover{
	color: #bca05f;
}

/* modifier
-----------------------------------------------------------------*/
.tab-lists .is-current{
	color: #bca05f;
}

@media screen and (max-width: 768px){
	.tab-lists{
		display: block;
		overflow: hidden;
		letter-spacing: normal;
	}
	.tab-lists li{
		display: block;
		position: relative;
		float: left;
		width: 50%;
		letter-spacing: normal;
	}
	.tab-lists li + li:before{
		height: 14px;
		margin-top: -7px;
	}
	.tab-lists a{
		font-size: 14px;
		line-height: 50px;
	}
}

/*--------------------------------------------------------------------------
	 tabSectionContainer タブセクションのコンテナ要素
---------------------------------------------------------------------------*/
.tabSectionContainer{
	position: relative;
}

/*--------------------------------------------------------------------------
	 tabSection タブのセクション要素
---------------------------------------------------------------------------*/
.tabSection{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	        transition: opacity .3s ease;
}

.tabSection.is-current{
	position: relative;
	opacity: 1;
	z-index: 1;
}

.tabSection-ttl{
	position: absolute;
}

.tabSection-ttl span{
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/*--------------------------------------------------------------------------
	 .bgItems 背景アイテム
---------------------------------------------------------------------------*/
.bgItems{
	position: absolute;
	width: 100%;
	height: 100%;
}

.bgItem{
	position: absolute;
}

@media screen and (max-width: 768px){
	.bgItems{
		display: none;
	}
}

/*--------------------------------------------------------------------------
	 .spBgItems 背景アイテム（SP）
---------------------------------------------------------------------------*/
.spBgItem{
	display: none;
}

@media screen and (max-width: 768px){
	.spBgItem{
		display: block;
		position: absolute;
	}
}

/*--------------------------------------------------------------------------
	menuListRow メニューリストのラッパー要素
---------------------------------------------------------------------------*/
.menuListRow + .menuListRow{
	margin-top: 85px;
}

@media screen and (max-width: 768px){
	.menuListRow + .menuListRow{
		margin-top: 50px;
	}
}

/*--------------------------------------------------------------------------
	menuListCol メニューリストのラッパー要素 縦カラム、menuListRowとセットで使用される
---------------------------------------------------------------------------*/
.menuListCol{
	float: left;
	width: 490px;
}

.menuListCol + .menuListCol{
	margin-left: 120px;
}

/* modifier
-----------------------------------------------------------------*/
/* リストが続いた場合のマージン設定 */
.menuListCol-list .menuList + .menuList{
	margin-top: 85px;
}

/* 画像が続いた場合のマージン設定 */
.menuListCol-fig .menuList + .menuList{
	margin-top: 15px;
}

@media screen and (max-width: 768px){
	.menuListCol{
		float: none;
		width: auto;
	}
	.menuListCol + .menuListCol{
		margin-top: 50px;
		margin-left: 0;
	}
	/* modifier
	-----------------------------------------------------------------*/
	/* リストが続いた場合のマージン設定 */
	.menuListCol-list .menuList + .menuList{
		margin-top: 50px;
	}
}

/*--------------------------------------------------------------------------
	menuFigGroup 画像グループ
---------------------------------------------------------------------------*/
.menuFigGroup{
	position: relative;
	margin: 25px 0 80px;
}

.menuFigGroup-fig{
	position: absolute;
}

@media screen and (max-width: 768px){
	.menuFigGroup{
		height: auto;
		margin: 25px 0 40px;
	}
	.menuFigGroup-fig{
		position: relative;
	}
	.menuFigGroup-fig img{
		width: 100%;
		height: auto;
	}
}

/*--------------------------------------------------------------------------
	menuList 罫線付きメニューリスト
---------------------------------------------------------------------------*/
.menuList{
	position: relative;
}

/* menuList内で使用される2colレイアウト
	.menuList-row
	.menuList-col
*/
.menuList-col{
	float: left;
	width: 490px;
}

.menuList-col + .menuList-col{
	margin-left: 120px;
}

.menuList-fig{
	padding-top: 54px;
}

.menuList-fig img{
	width: 100%;
	height: auto;
}

.menuList-ttl{
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 2px;
}

.menuList-ttl:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: url(../images/common/bg_repeat_menu_ttl.png);
}

.menuList-list + .menuList-list{
	margin-top: 30px;
}

.menuList-listTtl{
	width: 100%;
	display: table;
	line-height: 1;
}

.menuList-listTtl .ttl{
	display: table-cell;
	width: 50px;
	font-size: 16px;
	font-weight: bold;
	vertical-align: middle;
	white-space: nowrap;
}

.menuList-listTtl .line{
	display: table-cell;
	width: 100%;
	background: url(../images/common/bg_menu_list_repeat.png) repeat-x 50% 50%;
}

.menuList-listTtl .ttl span{
	display: inline-block;
	padding-right: 15px;
	line-height: 1.4;
}

.menuList-listTtl .ttl .c-tag{
    padding: 0;
    line-height: 19px;
}

.menuList-listTtl .price{
	display: table-cell;
	padding-left: 20px;
	min-width: 60px;
	font-size: 16px;
	font-weight: bold;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
}

/* modifier
-----------------------------------------------------------------*/
.menuList-fig-top{
	padding-top: 0;
}

@media screen and (max-width: 768px){
	.menuList + .menuList{
		margin-top: 50px;
	}
	.menuList-col{
		float: none;
		width: auto;
	}
	.menuList-col + .menuList-col{
		margin-top: 25px;
		margin-left: 0;
	}
	.menuList-fig{
		padding-top: 0;
	}
	.menuList-ttl{
		padding-bottom: 10px;
		margin-bottom: 30px;
	}
	.menuList-ttl:after{
		height: 1px;
		background-size: auto 1px;
	}
	.menuList-list + .menuList-list{
		margin-top: 25px;
	}
	.menuList-listTtl .ttl{
		font-size: 13px;
	}
	.menuList-listTtl .ttl span{
		padding-right: 12px;
	}
	.menuList-listTtl .line{
		background-image: url(../images/common/bg_menu_list_repeat_sp.png);
		background-size: auto 1px;
	}
	.menuList-listTtl .price{
		min-width: 50px;
		padding-left: 10px;
		font-size: 13px;
	}
	/* modifier
	-----------------------------------------------------------------*/
	.menuList-fig-top{
		padding-top: 0;
	}
}