@charset 'UTF-8';
/**
 *
 *  メニュー JB
 *
 */
/*--------------------------------------------------------------------------
	 m-pageHeadder
 ---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/jb/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/jb/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	 .bgItems 背景アイテム要素
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.bgItems-food .bgItem-item01{
	top: -1%;
	left: -255px;
}

.bgItems-food .bgItem-item02{
	top: 14%;
	right: -226px;
}

.bgItems-food .bgItem-item03{
	top: 24%;
	right: -214px;
}

.bgItems-food .bgItem-item04{
	top: 37%;
	left: -362px;
}

.bgItems-food .bgItem-item05{
	top: 66%;
	right: -320px;
}

.bgItems-food .bgItem-item06{
	top: 96%;
	right: -125px;
}

.bgItems-drink .bgItem-item01{
	top: -1%;
	left: -255px;
}

.bgItems-drink .bgItem-item02{
	top: 11%;
	right: -225px;
}

.bgItems-drink .bgItem-item03{
	top: 60%;
	right: -65px;
}

.bgItems-drink .bgItem-item04{
	top: 60%;
	left: -175px;
}

.bgItems-drink .bgItem-item05{
	top: 63%;
	right: -312px;
}

/*--------------------------------------------------------------------------
	 .spBgItem 背景アイテム要素（SP）
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.spBgItem-food01{
		top: 0px;
		right: -10px;
	}
	.spBgItem-food02{
		top: -45px;
		right: -5px;
	}
	.spBgItem-food03{
		top: 175px;
		right: -10px;
	}
	.spBgItem-food04{
		top: 5px;
		left: -10px;
	}
	.spBgItem-food05{
		bottom: -30px;
		right: -10px;
	}
	.spBgItem-drink01{
		top: -27px;
		right: 0;
	}
	.spBgItem-drink02{
		top: 90px;
		right: -10px;
	}
}

/*--------------------------------------------------------------------------
	 menuList
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.menuList-lunch .menuList-txt{
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}

.menuList-cocktail .menuList-txt{
	margin-top: 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

.menuList-fig-pat01{
	padding: 0;
	margin-top: -76px;
}

.menuList-genre + .menuList-genre{
	margin-top: 40px;
}

.menuList-genre-txt{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.menuList-genre-txt span{
	font-family: serif;
}

@media screen and (max-width: 768px){
	/* modifier
	-----------------------------------------------------------------*/
	.menuList-lunch .menuList-txt{
		margin-bottom: 10px;
		font-size: 13px;
	}
	.menuList-cocktail .menuList-txt{
		font-size: 10px;
	}
	.menuList-fig-pat01{
		padding: 0;
		margin-top: 0;
	}
	.menuList-genre-txt{
		font-size: 15px;
	}
}

/*--------------------------------------------------------------------------
	m-footLink
---------------------------------------------------------------------------*/
.m-footLink{
	background-image: url(../images/jb/bg_recommend.jpg);
}

@media screen and (max-width: 768px){
	.m-footLink{
		background-image: url(../images/jb/bg_recommend_sp.jpg);
	}
}