@charset 'UTF-8';
/**
 *
 *  メニュー 煮ジル
 *
 */
/*--------------------------------------------------------------------------
	 m-pageHeadder
 ---------------------------------------------------------------------------*/
.m-pageHeader{
	background-image: url(../images/nijill/img_kv.jpg);
}

@media screen and (max-width: 768px){
	.m-pageHeader{
		background-image: url(../images/nijill/img_kv_sp.jpg);
	}
}

/*--------------------------------------------------------------------------
	 .bgItems 背景アイテム要素
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.bgItems-food .bgItem-item01{
	top: -1%;
	left: -255px;
}

.bgItems-food .bgItem-item02{
	top: 6%;
	right: -530px;
}

.bgItems-food .bgItem-item03{
	top: 23%;
	right: -226px;
}

.bgItems-food .bgItem-item04{
	top: 42%;
	right: -210px;
}

.bgItems-food .bgItem-item05{
	top: 41%;
	left: -550px;
}

.bgItems-food .bgItem-item06{
	top: 68%;
	left: -365px;
}

.bgItems-food .bgItem-item07{
	top: 79%;
	right: -300px;
}

.bgItems-drink .bgItem-item01{
	top: -1%;
	left: -255px;
}

.bgItems-drink .bgItem-item02{
	top: 14%;
	right: -225px;
}

.bgItems-drink .bgItem-item03{
	top: 56%;
	right: -65px;
}

.bgItems-drink .bgItem-item04{
	top: 77%;
	left: -175px;
}

.bgItems-drink .bgItem-item05{
	top: 80%;
	right: -312px;
}

/*--------------------------------------------------------------------------
	 .spBgItem 背景アイテム要素（SP）
---------------------------------------------------------------------------*/
@media screen and (max-width: 768px){
	.spBgItem-food01{
		top: -10px;
		right: -10px;
	}
	.spBgItem-food02{
		top: 43%;
		left: -10px;
	}
	.spBgItem-food03{
		position: static;
		margin-top: 20px;
		text-align: center;
	}
	.spBgItem-food04{
		top: 62%;
		right: -30px;
	}
	.spBgItem-food04{
		top: 62%;
		right: -30px;
	}
	.spBgItem-food05{
		top: 70%;
		left: 0;
	}
	.spBgItem-food06{
		bottom: -5%;
		left: -15%;
		width: 86%;
	}
	.spBgItem-food07{
		bottom: 15%;
		right: -2%;
		width: 41%;
	}
	.spBgItem-food08{
		bottom: -4%;
		right: 0;
	}
	.spBgItem-food03 img,
	.spBgItem-food06 img,
	.spBgItem-food07 img{
		height: auto;
	}
	.spBgItem-food03 img{
		width: 80%;
	}
	.spBgItem-food06 img{
		width: 100%;
	}
	.spBgItem-food07 img{
		width: 100%;
	}
	.spBgItem-drink01{
		top: -27px;
		right: 0;
	}
	.spBgItem-drink02{
		top: 10px;
		right: 0px;
	}
}

/*--------------------------------------------------------------------------
	menuFigGroup 画像グループ
---------------------------------------------------------------------------*/
.menuFigGroup{
	height: 460px;
}

.menuFigGroup-fig01{
	bottom: 0;
	left: 0;
	z-index: 2;
}

.menuFigGroup-fig02{
	top: 0;
	right: 0;
	z-index: 1;
}

@media screen and (max-width: 768px){
	.menuFigGroup{
		height: auto;
	}
	.menuFigGroup-fig01{
		top: auto;
		right: auto;
		float: left;
		width: 81%;
	}
	.menuFigGroup-fig02{
		top: auto;
		left: auto;
		float: right;
		width: 71%;
		margin-top: -5%;
	}
}

/*--------------------------------------------------------------------------
	 menuList
---------------------------------------------------------------------------*/
/* modifier
-----------------------------------------------------------------*/
.menuList-cocktail .menuList-txt{
	margin-top: 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}

.menuList-genre + .menuList-genre{
	margin-top: 40px;
}

.menuList-genre-txt{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.menuList-genre-txt span{
	font-family: serif;
}

.menuList-fig-pat01{
	margin-top: -85px;
	padding-top: 0;
}

@media screen and (max-width: 768px){
	/* modifier
	-----------------------------------------------------------------*/
	.menuList-cocktail .menuList-txt{
		font-size: 10px;
	}
	.menuList-salad{
		padding-bottom: 60%;
	}
	.menuList-genre-txt{
		font-size: 15px;
	}
	.menuList-fig-pat01{
		margin-top: 0;
		padding-top: 0;
	}
}

/*--------------------------------------------------------------------------
	m-footLink
---------------------------------------------------------------------------*/
.m-footLink{
	background-image: url(../images/nijill/bg_recommend.jpg);
}

@media screen and (max-width: 768px){
	.m-footLink{
		background-image: url(../images/nijill/bg_recommend_sp.jpg);
	}
}